<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">

          <div class="col-md-12 mt-3 mb-3">
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <router-link :to="{name: 'profile'}">
                  <button type="button" class="btn btn-outline-info btn-block btn-xs" style="font-size: 18px; word-spacing: 20px">返回个人主页</button>
                </router-link>
                <ValidationObserver v-slot="{ handleSubmit }">
                  <form v-on:submit.prevent="handleSubmit(createProject)">

                    <ul class="list-group list-group-unbordered mt-3">
                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-bookmark"></i> 项目名称</strong>
                        <ValidationProvider name="项目名称" rules="required" v-slot="{ errors }">
                          <input type="text" name="项目名称" placeholder="请输入项目名称" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入项目名称'"
                                 required class="single-input-primary  mt-3" v-model="project.name">
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-file-image-o"></i> 项目图片</strong>
                        <p class="mt-3" style="font-family: 'Crimson Text', serif; font-size: 16px; color: red" v-if="project.project_image_url === ''">项目图片是必选项，请上传</p>

                        <form v-on:submit.prevent="upload" class="mt-3">
                          <!-- allow the user to select an image file and when they have selected it call a function
                          to handle this event-->
                          <label for="file-input">请选择上传照片:   </label>
                          <b-spinner v-if="busytu" small type="grow" style="margin-left: 6px; "></b-spinner>
                          <input
                              class="ml-3"
                              id="file-input"
                              type="file"
                              accept="image/*"
                              @change="handleFileChange($event)"
                          />
                          <!-- submit button is disabled until a file is selected -->
                          <!--                        <button type="submit" :disabled="filesSelected < 1">点击上传</button>-->
                        </form>
                      </li>
                      <li class="list-group-item" style="border: none" v-if="results && results.secure_url">
                        <img :src="results.secure_url" :alt="results.public_id" />
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-sort"></i> 项目类型</strong>
                        <b-form-select class="mt-3" v-model="project.category_type" :options="project_category_type"></b-form-select>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-tag"></i> 项目简介</strong>
                        <ValidationProvider name="项目名称" rules="required" v-slot="{ errors }">
                          <textarea class="single-input-primary mt-3" v-model="project.projects_brief" placeholder="请输入项目简介" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入项目简介'"></textarea>
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-coffee"></i> 团队介绍</strong>
                        <ValidationProvider name="团队介绍" rules="required" v-slot="{ errors }">
                          <textarea class="single-input-primary mt-3" v-model="project.team_intro" placeholder="请输入团队介绍" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入团队介绍'"></textarea>
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <div class="switch-wrap d-flex justify-content-between">
                          <p><i class="fa fa-money"></i> 是否寻求融资</p>
                          <b-form-checkbox size="lg" v-model="project.is_raise_money" name="check-button" switch></b-form-checkbox>
                          <!--                                                <toggle-button :value="project.is_raise_money" :sync="true" />-->
                        </div>
                      </li>
                      <li v-if="project.is_raise_money" class="list-group-item" style="border: none">
                        <!--                        <strong><i class="fa fa-users"></i> 寻求合伙人类型</strong>-->
                        <b-form-select v-model="project.raise_money_stage" :options="raise_money_stages"></b-form-select>
                      </li>
                      <li v-if="project.is_raise_money" class="list-group-item" style="border: none">
                        <div class="switch-wrap d-flex justify-content-between">
                          <p>请输入融资金额(万元人民币) </p>
                          <ValidationProvider name="融资金额" rules="integer" v-slot="{ errors }">
                            <input type="text" name="融资金额" placeholder="请输入融资金额" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入融资金额'"
                                 required class="single-input-primary" v-model="project.amount_of_raise_money">
                            <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                          </ValidationProvider>
                        </div>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <div class="switch-wrap d-flex justify-content-between">
                          <p><i class="fa fa-users"></i> 是否寻找合伙人</p>
                          <b-form-checkbox size="lg" v-model="project.is_find_partners" name="check-button" switch></b-form-checkbox>
                        </div>
                      </li>

                      <li v-if="project.is_find_partners" class="list-group-item" style="border: none">
                        <!--                        <strong><i class="fa fa-users"></i> 寻求合伙人类型</strong>-->
                        <b-form-select v-model="project.find_partner_category_type" :options="partner_category_type"></b-form-select>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <div class="switch-wrap d-flex justify-content-between">
                          <p><i class="fa fa-dot-circle-o"></i> 是否寻找市场</p>
                          <b-form-checkbox size="lg" v-model="project.is_find_market" name="check-button" switch></b-form-checkbox>
                        </div>
                      </li>

                      <li v-if="project.is_find_market" class="list-group-item" style="border: none">
                        <!--                        <strong><i class="fa fa-users"></i> 寻求市场区域</strong>-->
                        <b-form-select v-model="project.find_market_category_type" :options="market_category_type"></b-form-select>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <div class="switch-wrap d-flex justify-content-between">
                          <p><i class="fa fa-bullhorn"></i> 是否公开宣传此项目</p>
                          <b-form-checkbox size="lg" v-model="project.is_public" name="check-button" switch></b-form-checkbox>
                          <!--                          <toggle-button type="button" :value="project.is_public" :sync="true" />-->
                        </div>
                      </li>

                    </ul>

                    <div class="input-group-icon mt-20 radius">
                      <button type="submit" class="btn btn-outline-info btn-block btn-xs mt-3" style="font-size: 18px; word-spacing: 20px" ><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  创 建 项 目</button>
                    </div>
                    <!--                    <button type="button" class="btn btn-outline-info btn-block btn-xs mt-3" style="font-size: 18px; word-spacing: 20px" >创 建 项 目</button>-->

                  </form>
                </ValidationObserver>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {getAPI} from "@/axios-api";
import { ValidationProvider, ValidationObserver } from 'vee-validate';


export default {
  name: "CreateProject",
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data(){
    return {
      results: null,
      errors: [],
      file: null,
      filesSelected: 0,
      cloudName: "jijuncai",
      preset: "actechprojects",
      tags: "browser-upload",
      fileContents: null,
      formData: null,
      project: {
        'name': '',
        'category_type': '其他',
        'project_image_url': '',
        'projects_brief': '',
        'team_intro': '',
        'is_find_market': false,
        'find_market_category_type': '',
        'is_find_partners': false,
        'find_partner_category_type': '',
        'is_raise_money': false,
        'raise_money_stage': '',
        'amount_of_raise_money': '',
        'is_public': true,
      },
      busy: false,
      busytu: false,
      project_category_type: [
        { value: '其他', text: '请选择项目类型' },
        { value: '人工智能', text: '人工智能' },
        { value: '物联网', text: '物联网' },
        { value: '虚拟和增强现实', text: '虚拟和增强现实' },
        { value: '智慧城市', text: '智慧城市' },
        { value: '智能机器人', text: '智能机器人' },
        { value: '区块链', text: '区块链' },
        { value: '大健康', text: '大健康' },
        { value: '其他', text: '其他' },
      ],
      raise_money_stages: [
        { value: '', text: '请选择融资阶段' },
        { value: '种子轮', text: '种子轮' },
        { value: '天使轮', text: '天使轮' },
        { value: 'Pre-A轮', text: 'Pre-A轮' },
        { value: 'A轮', text: 'A轮' },
        { value: 'B轮', text: 'B轮' },
        { value: 'C轮', text: 'C轮' },
        { value: 'D轮', text: 'D轮' },
        { value: '并购', text: '并购' },
        { value: '其他', text: '其他' },
      ],
      market_category_type: [
        { value: '', text: '请选择需要推广的市场区域' },
        { value: '中国地区', text: '目标市场为中国地区' },
        { value: '美国地区', text: '目标市场为美国地区' },
        { value: '其他', text: '目标市场为其他地区' },
      ],
      partner_category_type: [
        { value: '', text: '请选择需求创业伙伴类型' },
        { value: '首席执行官', text: '首席执行官' },
        { value: '首席技术官', text: '首席技术官' },
        { value: '首席市场官', text: '首席市场官' },
        { value: '首席运营官', text: '首席运营官' },
        { value: '首席财务官', text: '首席财务官' },
        { value: '高级顾问', text: '高级顾问' },
        { value: '其他', text: '其他' },
      ],
    }
  },

  methods: {

    createProject () { // 确认修改
      this.busy = true;
      console.log('确认修改' + this.project.project_image_url)
      getAPI.post('/projects/',
          {
            name: this.project.name,
            category_type: this.project.category_type,
            project_image_url: this.project.project_image_url,
            projects_brief: this.project.projects_brief,
            team_intro: this.project.team_intro,
            is_find_market: this.project.is_find_market,
            find_market_category_type: this.project.find_market_category_type,
            is_find_partners: this.project.is_find_partners,
            find_partner_category_type: this.project.find_partner_category_type,
            is_raise_money: this.project.is_raise_money,
            raise_money_stage: this.project.raise_money_stage,
            amount_of_raise_money: this.project.amount_of_raise_money,
            is_public: this.project.is_public,
          }, {
            headers: {
              Authorization: `Bearer ${this.$store.state.access_token}`
            }
          })
          .then(response => {
            this.busy = false;
            let jsonData = JSON.stringify(response.data)
            console.log('project create 里的数据 ' + jsonData)
            this.$alert("您的项目创建成功");
            // this.profile = response.data
            // this.value = response.data.is_public
            this.$alert("您的项目创建成功").then(() => {
              this.$router.push({ name: 'profile' })
            });
          })
          .catch(err => {
            this.busy = false;
            console.log(err)
          })
    },
    handleFileChange: function(event) {
      console.log("handlefilechange", event.target.files);
      //returns an array of files even though multiple not used
      this.file = event.target.files[0];
      this.filesSelected = event.target.files.length;
      this.upload();
    },
    prepareFormData: function() {
      this.formData = new FormData();
      this.formData.append("upload_preset", this.preset);
      this.formData.append("tags", this.tags); // Optional - add tag for image admin in Cloudinary
      this.formData.append("file", this.fileContents);
    },
    // function to handle form submit
    upload: function() {

      console.log("upload", this.file.name);
      this.busytu = true;
      let reader = new FileReader();
      // attach listener to be called when data from file
      reader.addEventListener(
          "load",
          function() {
            this.fileContents = reader.result;
            this.prepareFormData();
            let cloudinaryUploadURL = `https://api.cloudinary.com/v1_1/${this.cloudName}/upload`;
            let requestObj = {
              url: cloudinaryUploadURL,
              method: "POST",
              data: this.formData,
            };
            //show progress bar at beginning of post
            // this.showProgress = true;
            getAPI(requestObj)
                .then(response => {
                  this.busytu = false;
                  this.results = response.data;
                  console.log(this.results);
                  console.log("public_id", this.results.public_id);
                  console.log("secure_url", this.results.secure_url);
                  this.project.project_image_url = this.results.secure_url;
                  console.log("project_image_url", this.project.project_image_url)
                })
                .catch(error => {
                  this.busytu = false;
                  this.errors.push(error);
                  console.log(this.error);
                })
                .finally(() => {
                  this.busytu = false;
                  console.log('finally')
                });
          }.bind(this),
          false
      );
      // call for file read if there is a file
      if (this.file && this.file.name) {
        reader.readAsDataURL(this.file);
      }
    }
  }
}
</script>

<style scoped>
.home_banner_area{
  background: url(https://res.cloudinary.com/jijuncai/image/upload/v1604431470/frontendstaticimages/backgrounds/loginbackground_xayktx.jpg);
  min-height: 960px;
}

img {
  display: block;
  position: center;
  max-width: 100px;
  height: auto;
}
</style>