<template>

    <div class="popular_courses lite_bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6" v-for="project in projects.results" :key="project.id" @dblclick="$data.project = project">
            <div class="single_course">
              <div class="course_head overlay">
                <img class="img-fluid w-100" :alt="project.name" :src="project.projects_front_image" style="height:160px;object-fit: cover">
                <div class="authr_meta">
                  <img :src="project.user.profile_image_url" :alt="project.user.first_name" style="width:40px;height:40px;border-radius:50%;object-fit: cover">
                  <span>{{ project.user.first_name }}</span>
                </div>
              </div>
              <div class="course_content">
                <h4>
                  <a href="course-details.html">{{ project.name }}</a>
                </h4>
                <p style="position:relative; line-height: 1.5em; height: 6em; overflow: hidden; ">{{ project.projects_brief }}</p>
                <div class="course_meta d-flex justify-content-between">
                  <div>
                    <span class="lnr lnr-thumbs-up"></span>
                  </div>
                  <div>
                    <span class="price">融资 {{ project.financing_amount }} 元人民币</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
    </div>

</template>

<script>

export default {
  name: 'ProjectsList',
  data(){
    return {
      project: {
        'name': '',
        'financing_amount': 0,
        'projects_front_image': '',
        'projects_brief': '',
        'user': {
          'first_name': '',
          'profile_image_url': '',
        },
      },
      projects: []
    }
  },

  async created(){
    await this.getProjects();
  },

  methods: {
    async getProjects(){
      // var response = await fetch('http://127.0.0.1:8000/projects/');
      // this.projects = await response.json();
      // console.log(this.projects);
    }
  }
}
</script>

<style>

</style>