<template>
  <div>
    <div v-if="projects.length > 0" class="popular_courses lite_bg">
      <div class="container">

        <div class="row justify-content-center">
          <div class="input-group mb-3" style="padding: 0px 20px;">
            <input
                type="text"
                class="form-control"
                placeholder="按标题搜索"
                v-model="searchTitle"
            />
            <div class="input-group-append">
              <button
                  class="btn btn-outline-secondary"
                  type="button"
                  @click="page = 1; retrieveProjects();"
              >
                搜索
              </button>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-3 col-md-6" v-for="project in projects" :key="project.id" @dblclick="$data.project = project">
            <div
                class="single_course"
                style="box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.2); ">
              <div class="course_head overlay" style="border-radius:5%" >
                <img class="img-fluid w-100" :alt="project.name" :src="project.project_image_url" style="height:160px;object-fit: cover">
                <div class="authr_meta">
                  <img @click="profile(project.owner.id, project.owner.is_public)" :src="project.owner.profile_image" :alt="project.owner.username" style="width:40px;height:40px;border-radius:50%;object-fit: cover; cursor:pointer ">
                  <span @click="profile(project.owner.id, project.owner.is_public)" style="text-shadow: black 0.1em 0.1em 0.2em; cursor:pointer">{{ project.owner.username }}</span>
                </div>
              </div>


              <div class="course_content" >
                <div class="switch-wrap d-flex justify-content-between">
                  <h4 @click="detail(project.id)" style="padding: 0px 20px; position:relative; line-height: 1.8em; height: 1.8em; overflow: hidden; cursor:pointer">
                    <a >{{ project.name }}</a>
                  </h4>
                  <div v-if="project.category_type === '人工智能'" class="dpmt_icon" style="padding: 0px 20px">
                    <img v-b-popover.hover.top="'人工智能'" src="img/dpmt/icon1.png" alt="" style="width: 30px">
                  </div>
                  <div v-if="project.category_type === '物联网'" class="dpmt_icon" style="padding: 0px 20px">
                    <img v-b-popover.hover.top="'物联网'" src="img/dpmt/icon2.png" alt="" style="width: 30px">
                  </div>
                  <div v-if="project.category_type === '虚拟和增强现实'" class="dpmt_icon" style="padding: 0px 20px">
                    <img v-b-popover.hover.top="'虚拟和增加现实'" src="img/dpmt/icon3.png" alt="" style="width: 30px">
                  </div>
                  <div v-if="project.category_type === '区块链'" class="dpmt_icon" style="padding: 0px 20px">
                    <img v-b-popover.hover.top="'区块链'" src="img/dpmt/icon4.png" alt="" style="width: 30px">
                  </div>
                  <div v-if="project.category_type === '智慧城市'" class="dpmt_icon" style="padding: 0px 20px">
                    <img v-b-popover.hover.top="'智慧城市'" src="img/dpmt/icon5.png" alt="" style="width: 30px">
                  </div>
                  <div v-if="project.category_type === '智能机器人'" class="dpmt_icon" style="padding: 0px 20px">
                    <img v-b-popover.hover.top="'智能机器人'" src="img/dpmt/icon6.png" alt="" style="width: 30px">
                  </div>
                  <div v-if="project.category_type === '大健康'" class="dpmt_icon" style="padding: 0px 20px">
                    <img v-b-popover.hover.top="'大健康'" src="img/dpmt/icon7.png" alt="" style="width: 30px">
                  </div>
                  <div v-if="project.category_type === '其他'" class="dpmt_icon" style="padding: 0px 20px">
                    <img v-b-popover.hover.top="'其他'" src="img/dpmt/others.png" alt="" style="width: 30px">
                  </div>
                </div>


                <p @click="detail(project.id)" style="padding: 0px 20px; position:relative; line-height: 1.5em; height: 6em; overflow: hidden; cursor:pointer">{{ project.projects_brief }}</p>
                <div class="course_meta flex justify-content-between">
                  <div style="flex: auto; border-radius:8%; text-align: center;" class="price df_color1" v-if="project.is_raise_money">
                    融资：{{ project.amount_of_raise_money }}万元人民币
                  </div>

                  <div style="flex: auto; border-radius:5%; text-align: center" class="price df_color2" v-else-if="project.is_find_partners">
                    人才需求： {{ project.find_partner_category_type }}
                  </div>
                  <div style="flex: auto; border-radius:5%; text-align: center" class="price" v-else-if="project.is_find_market">
                    市场需求: {{ project.find_market_category_type }}
                  </div>
                  <div style="flex: auto; border-radius:5%; text-align: center" class="price df_color3" v-else>
                    等待发布新需求
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center" style="">
          <b-pagination
              v-model="page"
              :total-rows="count"
              :per-page="pageSize"
              prev-text="上一页"
              next-text="下一页"
              @change="handlePageChange"
          ></b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {getAPI} from "@/axios-api";

export default {
  name: "projects",
  data() {
    return {
      page: 1,
      next: null,
      previous: null,
      pageSize: 8,
      count: 0,
      searchTitle: '',

      project: {
        'id': null,
        'owner': {
          'id': null,
          'username': '',
          'profile_image': '',
          'is_public': false,
        },
        'name': '',
        'project_image_url': '',
        'projects_brief': '',
        'category_type': '',
        'team_intro': '',
        'is_find_market': false,
        'find_market_category_type': '',
        'is_find_partners': false,
        'find_partner_category_type': '',
        'is_raise_money': false,
        'raise_money_stage': '',
        'amount_of_raise_money': '',
      },
      projects: []
    }
  },

  created() {
    console.log('项目数据 ')
    this.getProjects()
  },

  methods: {
    retrieveProjects() {
      var search = '';
      if ( this.searchTitle ) {
        search = `&search=${this.searchTitle}`;
      } else {
        search = '';
      }

      getAPI.get('/more-projects/?is_public=True' + search + `&p=${this.page}` ,{
        headers: {
          Authorization: `Bearer ${this.$store.state.access_token}`
        }
      })
          .then((response) => {
            this.projects = response.data.results
            this.count = response.data.count
            this.next = response.data.next
            this.previous = response.data.previous

            console.log(response.data);
          })
          .catch((e) => {
            console.log(e);
          });
    },

    handlePageChange(value) {
      this.page = value;
      this.retrieveProjects();
    },

    getProjects(){
      getAPI.get('/more-projects/?is_public=True',{
        headers: {
          Authorization: `Bearer ${this.$store.state.access_token}`
        }
      })
          .then(response => {
            let jsonData = JSON.stringify(response.data)
            // console.log('projects 里的数据 ' + response.data[0].name)
            console.log('projects jsondata 里的数据 ' + jsonData)
            // console.log('projects jsonresults 里的数据 ' + jsonData)
            this.projects = response.data.results
            this.count = response.data.count
            this.next = response.data.next
            this.previous = response.data.previous
            console.log('projects response.data 里的数据 ' + response.data)

          })
          .catch(err => {
            console.log(err)
            this.$alert("本页需要登陆权限，请登陆").then(() => {
              this.$router.push({ name: 'login' })
            });
          })
    },

    mounted() {
      this.retrieveProjects();
    },

    detail(projectId){
      console.log('去项目详情页 ' + projectId)
      this.$router.push({
        path: `ProjectDetail`,
        query: { projectId: projectId }
      });
    },

    profile(userId, isPublic){
      if (isPublic){
        console.log('去发布人详情页 ' + userId)
        this.$router.push({
          path: `PublicProfile`,
          query: { userId: userId }
        });
      } else {
        this.$alert('该用户个人资料没有公开')
      }
    }
  }
}

</script>

<style scoped>

</style>