<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>我们的项目</h2>
                <p style="font-size: 20px">以美国硅谷为主阵地的来自全球最火、最前沿的高科技项目聚集于此，让我们先睹为快！</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <projects />
  </div>

</template>

<script>
import projects from "@/components/projects/projects";

export default {
  name: "ProjectsPool",
  components: {
    projects
  },
}
</script>

<style scoped>

</style>