<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>项目服务</h2>
                <p style="font-size: 20px">汇聚项目，服务项目</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="department_area section_gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="offset-lg-1 col-lg-5">
            <div class="dpmt_right">
              <h1>优质项目推荐服务平台</h1>
              <p>美中科技发源于美国硅谷，以硅谷众多科技精英和资深顾问为基础，多年从事北美与国内的项目、人才、教育、商贸和文化的对接、交流与合作。</p>
              <p>这里汇聚了优秀的投资人、专家顾问和政府资源，我们专业服务创业者和项目的需求：政府落地、融资服务、物色合伙人、寻找市场和创业服务！</p>
            </div>
          </div>

          <div class="col-lg-6 text-center">
            <img class="img-fluid" src="https://res.cloudinary.com/jijuncai/image/upload/v1604430251/frontendstaticimages/backgrounds/project-service_j6s6yn.png" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "ProjectsService"
}
</script>

<style scoped>

</style>