<template>
  <section class="course_details_area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 course_details_left">
          <div class="main_image" >
            <img class="img-fluid" :alt="project.name" :src="project.project_image_url" style="width: 750px; height:350px;object-fit: cover">
          </div>
          <div class="content_wrapper">
            <h4 class="title">项目简介</h4>
            <div class="content">{{ project.projects_brief }}</div>

            <h4 class="title">团队简介</h4>
            <div class="content">{{ project.team_intro }}</div>
          </div>
        </div>

        <div class="col-lg-4 right-contents">
          <ul>
            <li>
              <a class="justify-content-between d-flex" href="#">
                <p>项目名称</p>
                <span class="or">{{ project.name }}</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex" href="#">
                <p>项目类型 </p>
                <span>{{ project.category_type }}</span>
              </a>
            </li>
            <li v-if="project.is_raise_money">
              <a class="justify-content-between d-flex" href="#">
                <p>融资金融 </p>
                <span>{{ project.amount_of_raise_money }}万元人民币</span>
              </a>
            </li>
            <li v-if="project.is_find_partners">
              <a class="justify-content-between d-flex" href="#">
                <p>寻求合伙人 </p>
                <span>{{ project.find_partner_category_type }}</span>
              </a>
            </li>
            <li v-if="project.is_find_market">
              <a class="justify-content-between d-flex" href="#">
                <p>寻求市场 </p>
                <span>{{ project.find_market_category_type }}</span>
              </a>
            </li>
          </ul>

          <h4 class="title">项目发布人</h4>
          <div class="content">
            <div class="review-top row pt-40">
              <div class="col-lg-12">
                <div class="card-body box-profile">
                  <div class="text-center">
                    <img @click="profile(project.owner.id, project.owner.is_public)" class="profile-user-img img-fluid img-circle" style="width:100px; height:100px; border-radius:50%; object-fit: cover; cursor:pointer" :alt="project.owner.username" :src="project.owner.profile_image">
                  </div>
                  <h3 @click="profile(project.owner.id, project.owner.is_public)" class="profile-username text-center mt-3" style="cursor:pointer">{{ project.owner.username }}</h3>
                </div>
              </div>
            </div>
          </div>

          <h4 class="title">联系此项目</h4>
          <div class="content">
            <div class="review-top row pt-40">
              <ValidationObserver ref="observer" v-slot="{ valid }">
                <form class="row contact_form" v-on:submit.prevent="postContact" method="post" id="contactForm"
                      novalidate="novalidate">
                  <div class="col-md-6">
                    <div class="form-group">
                      <ValidationProvider name="名字" rules="required" v-slot="{ errors }">
                        <input type="text" class="form-control" id="name" name="名字" v-model="contact.name" placeholder="输入你的名字">
                        <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                      </ValidationProvider>
                    </div>
                    <div class="form-group">
                      <ValidationProvider name="邮箱" rules="required|email" v-slot="{ errors }">
                        <input type="email" class="form-control" id="email" name="邮箱" v-model="contact.email" placeholder="输入你的邮箱">
                        <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                      </ValidationProvider>
                    </div>
                    <div class="form-group">
                      <ValidationProvider name="标题" rules="required" v-slot="{ errors }">
                        <input type="text" class="form-control" id="subject" name="标题" v-model="contact.subject" placeholder="输入标题">
                        <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                      </ValidationProvider>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <ValidationProvider name="信息" rules="required" v-slot="{ errors }">
                        <textarea class="form-control" name="信息" id="message" rows="1" v-model="contact.message" placeholder="输入信息"></textarea>
                        <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                      </ValidationProvider>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="button" value="reset" @click="reset" class="btn primary-btn">  重 置 信 息</button>
                    <button type="submit" :disabled="!valid" value="submit" class="btn primary-btn ml-3"><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  发 送 信 息</button>
                  </div>
                </form>
              </ValidationObserver>
            </div>
          </div>
          <a @click='prev' href="#" class="primary-btn text-uppercase enroll mt-3">返回上一页</a>
        </div>
      </div>
    </div>
  </section>

</template>

<script>
import {getAPI} from "@/axios-api";
import { ValidationProvider, ValidationObserver } from 'vee-validate';

export default {
  name: "ProjectDetail",
  data() {
    return {
      project: {
        'id': null,
        'owner': {
          'id': null,
          'username': '',
          'profile_image': '',
          'is_public': false,
        },
        'name': '',
        'project_image_url': '',
        'projects_brief': '',
        'category_type': '',
        'team_intro': '',
        'is_find_market': false,
        'find_market_category_type': '',
        'is_find_partners': false,
        'find_partner_category_type': '',
        'is_raise_money': false,
        'raise_money_stage': '',
        'amount_of_raise_money': '',
      },
      busy: false,
      contact: {
        'id': '',
        'name': '',
        'email': '',
        'subject': '',
        'message': '',
      }
    }
  },

  components: {
    ValidationProvider,
    ValidationObserver
  },

  created() {
    console.log('projectId'+ this.$route.query.projectId);
    this.getProject();
  },

  methods: {
    getProject(){
      getAPI.get('/projects/public/' + this.$route.query.projectId,{
        headers: {
          Authorization: `Bearer ${this.$store.state.access_token}`
        }
      })
          .then(response => {
            let jsonData = JSON.stringify(response.data)
            // console.log('projects 里的数据 ' + response.data[0].name)
            console.log('project jsondata 里的数据 ' + jsonData)
            // console.log('projects jsonresults 里的数据 ' + jsonData)
            this.project = response.data
          })
          .catch(err => {
            console.log(err)
            this.$alert("本页需要登陆权限，请登陆").then(() => {
              this.$router.push({ name: 'MainPage' })
            });
          })
    },

    profile(userId, isPublic){
      if (isPublic){
        console.log('去详情页 ' + userId)
        this.$router.push({
          path: `PublicProfile`,
          query: { userId: userId }
        });
      } else {
        this.$alert('该用户个人资料没有公开')
      }
    },

    prev(){
      this.$router.go(-1)
    },

    postContact() {
      console.log('发信息')
      this.busy = true;
      getAPI.post('/contact',
          {
            name: this.contact.name,
            email: this.contact.email,
            subject: this.contact.subject,
            message: this.contact.message + ', 项目ID: ' + this.project.id + ', 项目名称: ' + this.project.name,
          },)
          .then(response => {
            this.busy = false
            let jsonData = JSON.stringify(response.data)
            console.log('contact create 里的数据 ' + jsonData)
            // this.$alert("您的活动创建成功");
            // this.profile = response.data
            // this.value = response.data.is_public
            this.$alert("您的信息发送成功，我们会第一时间尽快回复")
            this.contact.name = ''
            this.contact.email = ''
            this.contact.subject = ''
            this.contact.message = ''
            this.$refs.observer.reset();
          })
          .catch(err => {
            console.log(err)
            this.$alert("网络可能有问题，请再试一次")
            this.busy = false
          })
    },

    reset() {
      this.contact.name = ''
      this.contact.email = ''
      this.contact.subject = ''
      this.contact.message = ''
      this.$refs.observer.reset();
    }
  }
}
</script>

<style scoped>

</style>