<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>猎头资源</h2>
                <p style="font-size: 20px">我们的人才以美国硅谷以基地，人才网络链接全球！</p>
                <!--                <div class="page_link">-->
                <!--                  <a href="index.html">Home</a>-->
                <!--                  <a href="contact.html">Contact</a>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <TalentsList />
  </div>

</template>

<script>
import TalentsList from "@/components/talents/TalentsList";

export default {
  name: "TalentsPool",
  components: {
    TalentsList
  }
}
</script>

<style scoped>

</style>