<template>
  <!--================ Start Instructor Area =================-->
  <div v-if="talents.length > 0" class="instructors_area lite_bg">
    <div class="container">

      <div class="row justify-content-center">
        <div class="input-group mb-3" style="padding: 0px 20px;">
          <input
              type="text"
              class="form-control"
              placeholder="按标题搜索"
              v-model="searchTitle"
          />
          <div class="input-group-append">
            <button
                class="btn btn-outline-secondary"
                type="button"
                @click="page = 1; retrieveTalents();"
            >
              搜索
            </button>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <!-- single-instructor -->
        <div class="col-lg-3 col-sm-6" v-for="talent in talents" :key="talent.id" @dblclick="$data.talent = talent">
          <div class="single_instructor">
            <div class="author">
              <img @click="profile(talent.id)" :src="talent.profile_image" :alt="talent.username" style="width:163px;height:163px;border-radius:50%; object-fit: cover;cursor:pointer">
            </div>
            <div class="author_decs">
              <h4>{{ talent.username }}</h4>
              <p class="profession">{{ talent.title }}</p>
              <p style="position:relative; line-height: 1.5em; height: 6em; overflow: hidden;" >{{ talent.brief_desc }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" style="">
        <b-pagination
            v-model="page"
            :total-rows="count"
            :per-page="pageSize"
            prev-text="上一页"
            next-text="下一页"
            @change="handlePageChange"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import {getAPI} from "@/axios-api";

export default {
  name: "TalentsList",
  data() {
    return {
      page: 1,
      next: null,
      previous: null,
      pageSize: 8,
      count: 0,
      searchTitle: '',

      talent: {
        'id': null,
        'username': '',
        'brief_desc': '',
        'title': '',
        'graduated_school': '',
        'organization_company': '',
        'profile_image': '',
        'user_category': '',
      },
      talents: []
    }
  },

  created() {
    this.getTalentList()
  },

  methods: {
    getTalentList(){
      getAPI.get('/users-list/?is_public=True',{
        headers: {
          Authorization: `Bearer ${this.$store.state.access_token}`
        }
      })
          .then(response => {
            let jsonData = JSON.stringify(response.data)
            // console.log('projects 里的数据 ' + response.data[0].name)
            console.log('talentList jsondata 里的数据 ' + jsonData)
            // console.log('projects jsonresults 里的数据 ' + jsonData)
            this.talents = response.data.results;
            this.count = response.data.count
            this.next = response.data.next
            this.previous = response.data.previous
            console.log('projects response.data 里的数据 ' + response.data)

          })
          .catch(err => {
            console.log(err)
            this.$alert("本页需要登陆权限，请登陆").then(() => {
              this.$router.push({ name: 'login' })
            });
          })
    },

    retrieveTalents() {
      var search = '';
      if ( this.searchTitle ) {
        search = `&search=${this.searchTitle}`;
      } else {
        search = '';
      }

      getAPI.get('/users-list/?is_public=True' + search + `&p=${this.page}` ,{
        headers: {
          Authorization: `Bearer ${this.$store.state.access_token}`
        }
      })
          .then((response) => {
            this.talents = response.data.results
            this.count = response.data.count
            this.next = response.data.next
            this.previous = response.data.previous

            console.log(response.data);
          })
          .catch((e) => {
            console.log(e);
          });
    },

    handlePageChange(value) {
      this.page = value;
      this.retrieveTalents();
    },

    profile(userId){
      console.log('去个人详情页 ' + userId)
      this.$router.push({
        path: `TalentProfile`,
        query: { talentId: userId }
      });
    }
  }
}
</script>

<style scoped>

</style>