<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>猎头服务</h2>
                <p style="font-size: 20px">平台汇聚了大量的海内外专业人士</p>
                <!--                <div class="page_link">-->
                <!--                  <a href="index.html">Home</a>-->
                <!--                  <a href="contact.html">Contact</a>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="department_area section_gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="offset-lg-1 col-lg-5">
            <div class="dpmt_right">
              <h1>高级专业人士开放平台</h1>
              <p>美中科技发源于美国硅谷，以硅谷众多科技精英和资深顾问为基础，多年从事北美与国内的项目、人才、教育、商贸和文化的对接、交流与合作。</p>
              <p>我们提供高级专业人士的平台和对接服务，有您需要的专家？直接联系我们吧！</p>
            </div>
          </div>

          <div class="col-lg-6 text-center">
            <img class="img-fluid" src="https://res.cloudinary.com/jijuncai/image/upload/v1604604650/frontendstaticimages/backgrounds/talent-service_gyrvic_uf61wv.png" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "TalentsService"
}
</script>

<style scoped>

</style>