<template>
<section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-3">
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" style="width:100px; height:100px; border-radius:50%; object-fit: cover" :alt="profile.profile_image" :src="profile.profile_image">
                </div>
                <h3 class="profile-username text-center mt-3">{{ profile.username }}</h3>
                <p class="text-muted text-center">{{ profile.title }}</p>
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item" style="border: none">
                    <div class="switch-wrap d-flex justify-content-between">
                      <strong><i class="fa fa-at"></i> 用户类型</strong>
                      <p class="text-muted">{{ profile.user_category }}</p>
                    </div>
                  </li>
                  <li class="list-group-item" style="border: none">
                    <strong><i class="fa fa-briefcase"></i> 所在公司或机构</strong>
                    <p class="text-muted">{{ profile.organization_company }}</p>
                  </li>
                  <li class="list-group-item" style="border: none">
                    <strong><i class="fa fa-graduation-cap"></i> 教育背景</strong>
                    <p class="text-muted">{{ profile.graduated_school }}</p>
                  </li>
                  <li class="list-group-item" style="border: none">
                    <strong><i class="fa fa-laptop" aria-hidden="true"></i> 个人简介</strong>
                    <p class="text-muted">{{ profile.brief_desc }}</p>
                  </li>
                </ul>
                <button type="button" @click='prev' class="btn btn-outline-info btn-block btn-xs" style="font-size: 18px; word-spacing: 20px">返回上一页</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { getAPI } from '@/axios-api'

export default {
  name: "TalentProfile",
  data(){
    return {
      value: false,
      profile: {
        'username': '',
        'brief_desc': '',
        'title': '',
        'graduated_school': '',
        'organization_company': '',
        'profile_image': '',
        'user_category': '',
      },
    }
  },

  created() {
    console.log(this.$route.query.talentId);
    this.getProfile();
  },

  methods: {
    getProfile(){
      getAPI.get('/public-user-profile/' + this.$route.query.talentId,{
        headers: {
          Authorization: `Bearer ${this.$store.state.access_token}`
        }
      })
          .then(response => {
            let jsonData = JSON.stringify(response.data)
            console.log('users-profile 里的数据 ' + jsonData)
            this.profile = response.data
          })
          .catch(err => {
            console.log(err)
          })
    },

    prev(){
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>

</style>