<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>关于我们</h2>
                <p style="font-size: 20px">新冠疫情持续影响着各行各业，网络平台化将扮演着越来越重要角色！</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="department_area section_gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 text-center">
            <img class="img-fluid" src="https://res.cloudinary.com/jijuncai/image/upload/v1604430241/frontendstaticimages/backgrounds/startup-service_wygbkq.png" alt="">
          </div>

          <div class="offset-lg-1 col-lg-5">
            <div class="dpmt_right">
              <h1>为什么是我们</h1>
              <p>美中科技发源于美国硅谷，以硅谷众多科技精英和资深顾问为基础，多年从事北美与国内的项目、人才、教育、商贸和文化的对接、交流与合作。</p>
              <p>这里汇聚了优秀的投资人、专家顾问和政府资源，我们专业服务创业者和项目的需求：政府落地、融资服务、物色合伙人、寻找市场和创业服务！</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="instructors_area lite_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="main_title">
              <h2>我们的团队和顾问</h2>
              <p>团队以美国硅谷为起点，链接全球精英，逐步实现全球战略合伙人制</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="single_instructor">
              <div class="author">
                <img src="https://res.cloudinary.com/jijuncai/image/upload/v1604426799/frontendstaticimages/userprofiles/jijun_cvit9a.png" alt="" style="width: 163px; height: 163px; border-radius:50%; object-fit: cover;">
              </div>
              <div class="author_decs">
                <h4>蔡继军</h4>
                <p class="profession">创始发起人</p>
                <p>现居美国硅谷，美中科技的发起创始人，美国加州江西商会执行会长。多年来一直往返中美促进北美与国内科技和项目的交流与合作。</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="single_instructor">
              <div class="author">
                <img src="https://res.cloudinary.com/jijuncai/image/upload/v1604426796/frontendstaticimages/userprofiles/jingnong_js9fg6.png" alt="" style="width: 163px; height: 163px; border-radius:50%; object-fit: cover;">
              </div>
              <div class="author_decs">
                <h4>林敬农</h4>
                <p class="profession">高级理财和投资顾问</p>
                <p>加州州立大学东湾分校MBA，从事中美跨境初创孵化投资管理，译有『硅谷初创』一书，并提供美国资产配置服务。</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single_instructor">
              <div class="author">
                <img src="https://res.cloudinary.com/jijuncai/image/upload/v1605584219/frontendstaticimages/userprofiles/dinah_sc4w9m.jpg" alt="" style="width: 163px; height: 163px; border-radius:50%; object-fit: cover;">
              </div>
              <div class="author_decs">
                <h4>黛婀</h4>
                <p class="profession">高级投资顾问</p>
                <p>硅谷创投，多年从事跨境投资交流和合作，拥有丰富的项目投资和管理经验，常年活跃于硅谷的创投界，成功投资了多个科技项目。</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single_instructor">
              <div class="author">
                <img src="https://res.cloudinary.com/jijuncai/image/upload/v1604426797/frontendstaticimages/userprofiles/andelu_moyioz.png" alt="" style="width: 163px; height: 163px; border-radius:50%; object-fit: cover;">
              </div>
              <div class="author_decs">
                <h4>拉莫斯</h4>
                <p class="profession">高级创业导师</p>
                <p>美国硅谷、德国、西班牙、法国、瑞典、丹麦和象牙海岸多国的创业导师，精通四国语言，辅导了多家公司成长到上市。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "about"
}
</script>

<style scoped>

</style>