<template>
  <div>
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>联系我们</h2>
                <p style="font-size: 20px">如果您有任何项目、活动、猎头和技术服务的问题，请随时联系我们！！！</p>
                <!--                <div class="page_link">-->
                <!--                  <a href="index.html">Home</a>-->
                <!--                  <a href="contact.html">Contact</a>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
      <div class="container">
        <!--        <div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13" data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."-->
        <!--             data-mlat="40.701083" data-mlon="-74.1522848">-->
        <!--        </div>-->
        <div class="row">
          <div class="col-lg-3">
            <div class="contact_info">
              <div class="info_item">
                <i class="lnr lnr-home"></i>
                <h6>美国加州</h6>
                <p>苗必达市</p>
              </div>
              <div class="info_item">
                <i class="lnr lnr-phone-handset"></i>
                <h6>13006227286(国内手机)</h6>
                <p>周一至周五 上午9点至下午6点</p>
              </div>
              <div class="info_item">
                <i class="lnr lnr-envelope"></i>
                <h6>actech.live@gmail.com</h6>
                <p>随时联系我们咨询！</p>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <ValidationObserver ref="observer" v-slot="{ handleSubmit, valid }">
              <form class="row contact_form" @submit.prevent="handleSubmit(postContact)" method="post" id="contactForm"
                    novalidate="novalidate">
                <div class="col-md-6">
                  <div class="form-group">
                    <ValidationProvider name="名字" rules="required" v-slot="{ errors }">
                      <input type="text" class="form-control" id="name" name="名字" v-model="contact.name" placeholder="输入你的名字">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                  <div class="form-group">
                    <ValidationProvider name="邮箱" rules="required|email" v-slot="{ errors }">
                      <input type="email" class="form-control" id="email" name="邮箱" v-model="contact.email" placeholder="输入你的邮箱">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                  <div class="form-group">
                    <ValidationProvider name="标题" rules="required" v-slot="{ errors }">
                      <input type="text" class="form-control" id="subject" name="标题" v-model="contact.subject" placeholder="输入标题">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <ValidationProvider name="信息" rules="required" v-slot="{ errors }">
                      <textarea class="form-control" name="信息" id="message" rows="1" v-model="contact.message" placeholder="输入信息"></textarea>
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <button type="button" value="reset" @click="reset" class="btn primary-btn">  重 置 信 息</button>
                  <button type="submit" :disabled="!valid" value="submit" class="btn primary-btn ml-3"><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  发 送 信 息</button>
                </div>
              </form>
            </ValidationObserver>
          </div>
        </div>
      </div>
    </section>
    <!--================Contact Area =================-->
  </div>
</template>

<script>
import {getAPI} from "@/axios-api";
import { ValidationProvider, ValidationObserver } from 'vee-validate';

export default {
  name: "contact",
  data() {
    return {
      busy: false,
      contact: {
        'id': '',
        'name': '',
        'email': '',
        'subject': '',
        'message': '',
      }
    }
  },

  components: {
    ValidationProvider,
    ValidationObserver
  },

  methods: {
    postContact() {
      console.log('发信息')
      this.busy = true;
      getAPI.post('/contact',
          {
            name: this.contact.name,
            email: this.contact.email,
            subject: this.contact.subject,
            message: this.contact.message,
          },)
          .then(response => {
            this.busy = false
            let jsonData = JSON.stringify(response.data)
            console.log('contact create 里的数据 ' + jsonData)
            // this.$alert("您的活动创建成功");
            // this.profile = response.data
            // this.value = response.data.is_public

            this.$alert("您的信息发送成功，我们会第一时间尽快回复")
            this.contact.name = ''
            this.contact.email = ''
            this.contact.subject = ''
            this.contact.message = ''
            this.$refs.observer.reset();
          })
          .catch(err => {
            console.log(err)
            this.$alert("网络可能有问题，请再试一次")
            this.busy = false
          })
    },

    reset() {
      this.contact.name = ''
      this.contact.email = ''
      this.contact.subject = ''
      this.contact.message = ''
      this.$refs.observer.reset();
    }
  }
}
</script>

<style scoped>

</style>