<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>加入我们</h2>
                <p style="font-size: 20px">真诚欢迎您的加入，我们一起开拓未来！</p>
                <!--                <div class="page_link">-->
                <!--                  <a href="index.html">Home</a>-->
                <!--                  <a href="contact.html">Contact</a>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="department_area section_gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="offset-lg-1 col-lg-5">
            <div class="dpmt_right">
              <h1>加入我们</h1>
              <p>美中科技发源于美国硅谷，以硅谷众多科技精英和资深顾问为基础，多年从事北美与国内的项目、人才、教育、商贸和文化的对接、交流与合作。</p>
              <p>加入我们，成为我们大生态的合作方，我们一起开拓无限的发展空间</p>
            </div>
          </div>

          <div class="col-lg-6 text-center">
            <img class="img-fluid" src="https://res.cloudinary.com/jijuncai/image/upload/v1604430252/frontendstaticimages/backgrounds/joinus_vt8e2n.png" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "JoinUs"
}
</script>

<style scoped>

</style>