<template>
  <section class="course_details_area section_gap">
    <div class="container">
      <div class="row">
        <div class="legal_declaration_info">
          <h3>法律声明</h3>
          <p>本网站，即 https://www.actech.live/，由美中科技有限责任公司（Actech） （以下简称“本公司”）提供。用户在登陆本网站后，请仔细阅读本法律声明，如您不同意有关条款或本网站对其进行的修改，请停止使用本网站提供的服务。您一旦使用本网站提供的内容，包括但不限于浏览网站信息、下载网站内容、使用网站提供的第三方网站链接等，即视为您已了解并完全同意本法律声明中的所有条款。</p>
          <p>一、网站使用</p>
          <p>除非相关法律法规许可或征得本公司同意，本网站的信息及其任何组成部分不得被重新编辑、复制、仿制、抄袭，或为任何未经本公司允许的商业目的所使用。如果本公司确定客户行为违法或有损本网站和本公司的合法利益，则本公司保留包括但不限于拒绝提供服务、冻结或删除会员帐户、采取相关法律措施的权利。</p>
          <p>二、链接</p>
          <p>（一）本网站对第三方网站的链接</p>
          <p>必要时，本网站将提供对第三方经营的其他网站的超级链接或指引服务，或者通过帧联及其他方式在本网站上提供第三方网站的内容，此“内容”包括但不限于本网站上包含或可获得的任何材料、文件、信息、通信、软件、图片、图表、标识、设计、录音、录像和声音以及本网站上提供的任何其他信息。</p>
          <p>对第三方网站的链接仅为供您方便之用。本公司保留在任何时间终止对第三方网站链接的权利。所链接网站、网站上的内容及其描述或提供的产品与服务均不受本公司的控制，因此本公司不对任何该等网站及其上的内容、产品或服务（包括对第三方网站的进一步链接）负责。您一旦决定登陆或使用任何所链接的网站，应当注意可能会受到适用于该网站的任何条款和条件的限制，同时自行采取预防措施以便在登陆或使用该网站时避免病毒或其他破坏性因素。对于您登陆或使用所链接网站所产生的任何损失，由您自行承担。</p>
          <p>本公司对于任何所链接网站或其上所显示的内容、描述或提供的任何产品或服务不作任何保证或陈述，并且不对其作出任何认可、建议、批准或介绍。除非本公司另行明确规定或同意，本公司将不是您与任何被链接网站的提供者之间达成的任何协议的当事方。本公司不对因任何被链接网站上提供的内容、产品、服务等存在的任何中断、延迟、漏洞或疏忽所导致的任何损害或损失（无论该损害或损失是直接、间接、特别或是偶然的）负责。本网站上出现对第三方网站的链接并不表示本公司或本网站与其相关联，或已获得合法授权使用被链接网站中显示的或可通过其链接到的任何商标、商号、标识或著作权。</p>
          <p>（二）第三方网站对本网站的链接</p>
          <p>第三方网站对本网站的链接，并不必然表示本公司对第三方作出了某种认可、授权、赞助，或表明其属于本公司的关联企业、合资企业、合作企业或业务伙伴。在多数情况下，本公司并未意识到第三方已提供对本网站的链接。 </p>
          <p>三、免责声明</p>
          <p>本公司可以在任何时间对本网站、本网站上描述的内容和产品、项目、服务或价格作出任何其他修改而无需通知。</p>
          <p>如发生以下情况，本网站不对用户的直接或间接损失承担法律责任：</p>
          <p>（一）营业中断。</p>
          <p>（二）无法登陆本网站，或登陆本网站延迟或中断。</p>
          <p>（三）数据无法传送、错误传送、毁损、灭失或其他修改。</p>
          <p>（四）因处理本网站上对其它网站的链接或本网站上存在对其它网站的链接所遭受的任何种类的损失或损害。</p>
          <p>（五）就客户使用本网站（包括链接到第三方网站或自第三方网站链接）而可能产生的计算机病毒、系统失灵或功能紊乱。</p>
          <p>（六）隐私声明第三项中规定的六种情形所引起的用户个人资料的披露或泄露。</p>
          <p>（七）因不可抗力或本公司无法合理控制的其他原因所导致的用户损失。</p>
          <p>四、服务变更、中断或终止</p>
          <p>如因系统维护或升级的需要而需要暂停网络服务，本网站将尽可能事先进行通告。如发生下列情形之一，本网站有权随时中断或终止向用户提供网络服务而无需通知用户，并拒绝用户于现在和未来使用本网站所提供服务之全部或任何部分：</p>
          <p>（一）用户提供任何错误、不实、过时、不完整或具有误导性的资料，或者本网站有理由怀疑前述资料为错误、不实、过时、不完整或具误导性的；</p>
          <p>（二）用户违反本法律声明或相关使用协议中规定的使用规则。</p>
          <p>除以上所述情形外，本网站同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，除法律另有规定或双方另有约定外，本公司无需对用户或任何第三方承担任何责任。</p>
          <p>五、条款修改 </p>
          <p>本公司保留在任何时间自行修改、增删本法律声明中任何内容的权利。您每次登陆或使用本网站时均视为同意受当时有效的条款的制约。因此，您每次登陆或使用本网站时应查看本法律声明的日期，并检查与上一版本的修改之处。</p>
          <p>六、法律适用与司法管辖</p>
          <p>本法律声明的制定、执行和解释及争议的解决均应适用中华人民共和国法律。双方因使用本网站所产生的争议，协商不成的，任何一方可以向本公司所在地人民法院提起诉讼。</p>
        </div>
        <br>
        <div class="privacy_statement_info">
          <h3>隐私声明</h3>
          <p>一、个人资料的收集 </p>
          <p>用户在匿名的状态下即可访问本网站并获取信息。在本网站请求用户提供有关个人信息之前，本网站会解释这些信息的用途。本公司仅在与经营业务和经营活动有关的合法目的下，并经用户同意，以公平、合法的方式收集必要的用户个人资料。本网站有可能根据收集到的用户姓名、地址、电话号码、电子邮件等信息向用户发送免费的信息资料，或根据用户留下的真实有效的联系电话主动向用户发起呼叫，与用户联系。用户有权自行决定如何处置来自我们的任何信息资料，或不接听我方主动发起的呼叫电话。由于用户自行处置或不接听我方电话而遭受和/或造成的损失，我公司概不承担责任。</p>
          <p>用户在本网站注册时，须依服务注册表之提示提供用户本人真实、正确、最新及完整的资料，并保证个人资料的适时更新，因用户提供个人信息不准确、不完整及未及时更新给用户造成的任何损害，本公司不承担任何责任。因用户提供个人信息不准确、不完整及未及时更新给本公司造成损失的，本公司保留追偿的权利。</p>
          <p>二、个人资料的使用</p>
          <p>本公司有权为内部业务目的使用您提供的个人资料，诸如促进本公司业务和本公司提供给客户的服务及产品的日常管理和营运，监控本网站的使用及安全，实施内部控制，以及制备统计数字、进行规划和研究等目的；或设计服务和产品供客户使用；或推广、市场调查等目的；或确认、核对、记录及维护通信和推广的联络名单；或解决争议、排除问题和执行本法律声明；或与上述任何一项直接有关的其它目的。</p>
          <p>三、个人资料的披露 </p>
          <p>本网站将采取合理的安全手段保护用户提供的个人资料，在未得到用户许可之前，不将用户的任何个人信息提供给任何无关的第三方，但有以下情形之一的除外：</p>
          <p>（一）根据法律、行政法规的规定，有权机关要求提供。</p>
          <p>（二）由于用户对自身信息保密不当，导致用户非公开信息泄露。</p>
          <p>（三）由于网络线路、黑客攻击、计算机病毒等原因造成的资料泄露、丢失、被盗用或被篡改等。</p>
          <p>（四）为了保护本网站用户的权利或财产。</p>
          <p>（五）在紧急的情况下，为了保护本网站及其用户之个人或公众安全。</p>
          <p>（六）其他特殊或紧急情况。</p>
          <p>四、知识产权保护 </p>
          <p>本网站所载述的域名、商标、商号、信息、文字、图形、图像、声音、链接、软件及所有其它内容均由本公司、其内容提供商及第三方许可人提供。上述内容的知识产权依具体情况分别为本公司、其内容提供商及第三方许可人所拥有。</p>
          <p>除法律另有规定或双方另有约定外，未经本公司和/或其他权利人事先许可，任何人不得以任何形式通过任何方式（包括但不限于电子、机械复印或录制等方式）复制、展示、修改、转让、分发、重新发布、下载、张贴或传输本网站的内容。</p>
          <p>未经本公司或商标权人事先许可，任何单位及个人不得以任何方式或理由对本网站的商标、商号或标识的任何部分进行使用、复制、修改、传播或与其它产品捆绑使用。</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "termsAndPrivacy"
}
</script>

<style scoped>

</style>