<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>技术服务</h2>
                <p style="font-size: 20px">我们的技术团队来自硅谷众多高科技公司，如谷歌、脸书、苹果</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="department_area section_gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="offset-lg-1 col-lg-5">
            <div class="dpmt_right">
              <h1>全球顶尖的技术服务</h1>
              <p>为企业和政府提供整体的人工智能、智慧城市、物联网和区块链等领域的解决方案。</p>
              <p>为企业转型提供"智能+"全套方案，为政府提供"智慧+"政务系统方案。</p>
              <p>提供专业、高效和国际化的网站和移动App开发服务</p>
            </div>
          </div>

          <div class="col-lg-6">
            <ValidationObserver ref="observer" v-slot="{ handleSubmit, valid }">
              <form class="row contact_form" @submit.prevent="handleSubmit(postContact)" method="post" id="contactForm"
                    novalidate="novalidate">
                <div class="col-md-6">
                  <div class="form-group">
                    <ValidationProvider name="名字" rules="required" v-slot="{ errors }">
                      <input type="text" class="form-control" id="name" name="名字" v-model="contact.name" placeholder="输入你的名字">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                  <div class="form-group">
                    <ValidationProvider name="邮箱" rules="required|email" v-slot="{ errors }">
                      <input type="email" class="form-control" id="email" name="邮箱" v-model="contact.email" placeholder="输入你的邮箱">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                  <div class="form-group">
                    <ValidationProvider name="标题" rules="required" v-slot="{ errors }">
                      <input type="text" class="form-control" id="subject" name="标题" v-model="contact.subject" placeholder="输入标题">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <ValidationProvider name="信息" rules="required" v-slot="{ errors }">
                      <textarea class="form-control" name="信息" id="message" rows="1" v-model="contact.message" placeholder="输入信息"></textarea>
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <button type="button" value="reset" @click="reset" class="btn primary-btn">  重 置 信 息</button>
                  <button type="submit" :disabled="!valid" value="submit" class="btn primary-btn ml-3"><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  发 送 信 息</button>
                </div>
              </form>
            </ValidationObserver>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import {getAPI} from "@/axios-api";
import { ValidationProvider, ValidationObserver } from 'vee-validate';

export default {
  name: "TechTeamService",
  data() {
    return {
      busy: false,
      contact: {
        'id': '',
        'name': '',
        'email': '',
        'subject': '',
        'message': '',
      }
    }
  },

  components: {
    ValidationProvider,
    ValidationObserver
  },

  methods: {
    postContact() {
      console.log('发信息')
      this.busy = true;
      getAPI.post('/contact',
          {
            name: this.contact.name,
            email: this.contact.email,
            subject: this.contact.subject,
            message: this.contact.message + ', （技术服务）',
          },)
          .then(response => {
            this.busy = false
            let jsonData = JSON.stringify(response.data)
            console.log('contact create 里的数据 ' + jsonData)
            // this.$alert("您的活动创建成功");
            // this.profile = response.data
            // this.value = response.data.is_public

            this.$alert("您的信息发送成功，我们会第一时间尽快回复")
            this.contact.name = ''
            this.contact.email = ''
            this.contact.subject = ''
            this.contact.message = ''
            this.$refs.observer.reset();
          })
          .catch(err => {
            console.log(err)
            this.$alert("网络可能有问题，请再试一次")
            this.busy = false
          })
    },

    reset() {
      this.contact.name = ''
      this.contact.email = ''
      this.contact.subject = ''
      this.contact.message = ''
      this.$refs.observer.reset();
    }
  }
}
</script>

<style scoped>

</style>