<template>
  <div class="instructors_area lite_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="main_title">
              <h2>我们的技术团队</h2>
              <p>我们团队既有各领域的专家，也有丰富实战经验的专业人士</p>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-3 col-sm-6">
            <div class="single_instructor">
              <div class="author">
                <img src="https://res.cloudinary.com/jijuncai/image/upload/v1604426801/frontendstaticimages/userprofiles/jihui_wbjtav.png" alt="" style="width: 163px; height: 163px; border-radius:50%; object-fit: cover;">
              </div>
              <div class="author_decs">
                <h4>黄继辉</h4>
                <p class="profession">高级人工智能专家</p>
                <p>清华数学物理学士，俄亥俄州立大学数学博士，自动驾驶系统和机器人智能系统多年深度研究，多项美国专利，专长算法和人工智能。</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single_instructor">
              <div class="author">
                <img src="https://res.cloudinary.com/jijuncai/image/upload/v1604426797/frontendstaticimages/userprofiles/cong_xtdujq.png" alt="" style="width: 163px; height: 163px; border-radius:50%; object-fit: cover;">
              </div>
              <div class="author_decs">
                <h4>吴聪</h4>
                <p class="profession">高级软件架构师</p>
                <p>供职于美国谷歌Youtube，曾任职美国谷歌照片、美国领英。与顶尖人才创造了许多知名产品，专长于社交产品。</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single_instructor">
              <div class="author">
                <img src="https://res.cloudinary.com/jijuncai/image/upload/v1604426797/frontendstaticimages/userprofiles/xurui_mqpccd.png" alt="" style="width: 163px; height: 163px; border-radius:50%; object-fit: cover;">
              </div>
              <div class="author_decs">
                <h4>徐锐</h4>
                <p class="profession">智能城市专家</p>
                <p>曾在斯坦福大学的斯坦福全球发展与竞争力中心进行智能城市相关研究。通过智能城市硬件与软件服务解决城市环境和管理问题</p>
              </div>
            </div>
          </div>

<!--          <div class="col-lg-3 col-sm-6">-->
<!--            <div class="single_instructor">-->
<!--              <div class="author">-->
<!--                <img src="https://res.cloudinary.com/jijuncai/image/upload/v1604426801/frontendstaticimages/userprofiles/fangwei_mf3tzd.png" alt="" style="width: 163px; height: 163px; border-radius:50%; object-fit: cover;">-->
<!--              </div>-->
<!--              <div class="author_decs">-->
<!--                <h4>李方为</h4>-->
<!--                <p class="profession">高级技术顾问</p>-->
<!--                <p>BearRobotics联合创始人兼首席技术官，前谷歌孵化器副总，先后在微软、谷歌担任高管，人工智能专家，高级技术架构师。</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
</template>

<script>
export default {
name: "TechTeamList"
}
</script>

<style scoped>

</style>