<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>技术团队</h2>
                <p style="font-size: 20px">我们只提供最专业的技术服务！</p>
                <!--                <div class="page_link">-->
                <!--                  <a href="index.html">Home</a>-->
                <!--                  <a href="contact.html">Contact</a>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <TechTeamList />
  </div>

</template>

<script>
import TechTeamList from "@/components/techteam/TechTeamList";

export default {
  name: "TechTeamPool",
  components: {
    TechTeamList
  }
}
</script>

<style scoped>

</style>