<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">

          <div class="col-md-12 mt-3 mb-3">
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <router-link :to="{name: 'profile'}">
                  <button type="button" class="btn btn-outline-info btn-block btn-xs" style="font-size: 18px; word-spacing: 20px">返回个人主页</button>
                </router-link>
                <ValidationObserver v-slot="{ handleSubmit }">
                  <form v-on:submit.prevent="handleSubmit(createEvent)">

                    <ul class="list-group list-group-unbordered mt-3">
                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-bookmark"></i> 活动名称</strong>
                        <ValidationProvider name="活动名称" rules="required" v-slot="{ errors }">
                          <input type="text" name="活动名称" placeholder="请输入活动名称" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入活动名称'"
                                 required class="single-input-primary  mt-3" v-model="event.event_name">
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-file-image-o"></i> 活动封面图片</strong>
                        <p class="mt-3" style="font-family: 'Crimson Text', serif; font-size: 16px; color: red" v-if="event.event_front_image === ''">活动封面图片是必选项，请上传</p>
<!--v-on:submit.prevent="upload"-->
                        <form v-on:submit.prevent="upload" class="mt-3">
                          <!-- allow the user to select an image file and when they have selected it call a function
                          to handle this event-->
                          <label for="face-image">请选择上传照片:   </label>
                          <b-spinner v-if="busytu" small type="grow" style="margin-left: 6px; "></b-spinner>
                          <input
                              class="ml-3"
                              id="face-image"
                              type="file"
                              accept="image/*"
                              @change="handleFileChange($event)"
                          />
                          <!-- submit button is disabled until a file is selected -->
                          <!--                        <button type="submit" :disabled="filesSelected < 1">点击上传</button>-->
                        </form>
                      </li>
                      <li class="list-group-item" style="border: none" v-if="event.event_front_image">
                        <img :src="event.event_front_image" :alt="event.event_front_image" />
                      </li>

<!--                      <li class="list-group-item" style="border: none">-->
<!--                        <strong><i class="fa fa-file-image-o"></i> 注册二维码</strong>-->
<!--                        <p class="mt-3" style="font-family: 'Crimson Text', serif; font-size: 16px; color: red" v-if="event.register_image === ''">活动封面图片是必选项，请上传</p>-->

<!--                        <form @click="handleClick('register-image')" class="mt-3">-->
<!--                          &lt;!&ndash; allow the user to select an image file and when they have selected it call a function-->
<!--                          to handle this event&ndash;&gt;-->
<!--                          <label for="register-image">请选择上传照片:   </label>-->
<!--                          <b-spinner v-if="busytu1" small type="grow" style="margin-left: 6px; "></b-spinner>-->
<!--                          <input-->
<!--                              class="ml-3"-->
<!--                              id="register-image"-->
<!--                              type="file"-->
<!--                              accept="image/*"-->
<!--                              @change="handleFileChange($event)"-->
<!--                          />-->
<!--                          &lt;!&ndash; submit button is disabled until a file is selected &ndash;&gt;-->
<!--                          &lt;!&ndash;                        <button type="submit" :disabled="filesSelected < 1">点击上传</button>&ndash;&gt;-->
<!--                        </form>-->
<!--                      </li>-->
                      <li class="list-group-item" style="border: none" v-if="event.register_image">
                        <img :src="event.register_image" :alt="event.register_image" />
                      </li>
                      <!--                      <li class="list-group-item" style="border: none" v-if="results && results.secure_url">-->
                      <!--                        <img :src="results.secure_url" :alt="results.public_id" />-->
                      <!--                      </li>-->

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-tag"></i> 活动简介</strong>
                        <ValidationProvider name="活动简介" rules="required" v-slot="{ errors }">
                          <textarea class="single-input-primary mt-3" v-model="event.event_brief" placeholder="请输入活动简介" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入活动简介'"></textarea>
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-coffee"></i> 活动内容</strong>
                        <ValidationProvider name="活动内容" rules="required" v-slot="{ errors }">
                          <textarea class="single-input-primary mt-3" v-model="event.event_desc" placeholder="请输入活动内容" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入活动内容'"></textarea>
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-coffee"></i> 活动指导和主办</strong>
                        <ValidationProvider name="活动指导和主办" rules="required" v-slot="{ errors }">
                          <textarea class="single-input-primary mt-3" v-model="event.event_host" placeholder="请输入活动指导和主办" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入活动指导和主办'"></textarea>
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-coffee"></i> 活动承办和协办</strong>
                        <ValidationProvider name="活动承办和协办" rules="required" v-slot="{ errors }">
                          <textarea class="single-input-primary mt-3" v-model="event.event_sponsor" placeholder="请输入活动承办和协办" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入活动承办和协办'"></textarea>
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-bookmark"></i> 举办时间</strong>
                        <ValidationProvider name="举办时间" rules="required" v-slot="{ errors }">
                          <input type="text" name="举办时间" placeholder="请输入举办时间" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入举办时间'"
                                 required class="single-input-primary  mt-3" v-model="event.launch_time">
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <strong><i class="fa fa-bookmark"></i> 举办地点</strong>
                        <ValidationProvider name="举办地点" rules="required" v-slot="{ errors }">
                          <input type="text" name="举办地点" placeholder="请输入举办地点" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入举办地点'"
                                 required class="single-input-primary  mt-3" v-model="event.event_address">
                          <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                        </ValidationProvider>
                      </li>

                      <li class="list-group-item" style="border: none">
                        <div class="switch-wrap d-flex justify-content-between">
                          <p><i class="fa fa-bullhorn"></i> 是否公开宣传此项目</p>
                          <b-form-checkbox size="lg" v-model="event.is_public" name="check-button" switch></b-form-checkbox>
                          <!--                          <toggle-button type="button" :value="project.is_public" :sync="true" />-->
                        </div>
                      </li>

                    </ul>

                    <div class="input-group-icon mt-20 radius">
                      <button type="submit" class="btn btn-outline-info btn-block btn-xs mt-3" style="font-size: 18px; word-spacing: 20px" ><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  创 建 活 动</button>
                    </div>
                    <!--                    <button type="button" class="btn btn-outline-info btn-block btn-xs mt-3" style="font-size: 18px; word-spacing: 20px" >创 建 项 目</button>-->

                  </form>
                </ValidationObserver>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {getAPI} from "@/axios-api";
import { ValidationProvider, ValidationObserver } from 'vee-validate';


export default {
  name: "CreateEvent",
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data(){
    return {
      results: null,
      errors: [],
      file: null,
      filesSelected: 0,
      cloudName: "jijuncai",
      preset: "actechevents",
      tags: "browser-upload",
      fileContents: null,
      formData: null,
      event: {
        'event_name': '',
        'event_front_image': '',
        'launch_time': '',
        'event_brief': '',
        'register_image': '',
        'event_host': '',
        'event_sponsor': '',
        'event_address': '',
        'event_desc': '',
        'wechat_platform': '',
        'is_public': false,
        'image_set1': '',
        'image_set2': '',
        'image_set3': '',
        'image_set4': '',
        'image_set5': '',
      },
      busy: false,
      busytu: false,
      busytu1: false,
    }
  },

  methods: {

    createEvent () { // 确认修改
      this.busy = true;
      console.log('确认修改' + this.event.event_front_image)
      getAPI.post('/event/',
          {
            event_name: this.event.event_name,
            event_front_image: this.event.event_front_image,
            launch_time: this.event.launch_time,
            event_brief: this.event.event_brief,
            register_image: this.event.register_image,
            event_host: this.event.event_host,
            event_sponsor: this.event.event_sponsor,
            event_address: this.event.event_address,
            event_desc: this.event.event_desc,
            wechat_platform: this.event.wechat_platform,
            is_public: this.event.is_public,
            image_set1: this.event.image_set1,
            image_set2: this.event.image_set2,
            image_set3: this.event.image_set3,
            image_set4: this.event.image_set4,
            image_set5: this.event.image_set5,

          }, {
            headers: {
              Authorization: `Bearer ${this.$store.state.access_token}`
            }
          })
          .then(response => {
            this.busy = false;
            let jsonData = JSON.stringify(response.data)
            console.log('event create 里的数据 ' + jsonData)
            // this.$alert("您的活动创建成功");
            // this.profile = response.data
            // this.value = response.data.is_public
            this.$alert("您的活动创建成功").then(() => {
              this.$router.push({ name: 'profile' })
            });
          })
          .catch(err => {
            this.busy = false;
            console.log(err)
          })
    },
    handleFileChange: function(event) {
      console.log("handlefilechange", event.target.files);
      //returns an array of files even though multiple not used
      this.file = event.target.files[0];
      this.filesSelected = event.target.files.length;
      this.upload();
    },
    prepareFormData: function() {
      this.formData = new FormData();
      this.formData.append("upload_preset", this.preset);
      this.formData.append("tags", this.tags); // Optional - add tag for image admin in Cloudinary
      this.formData.append("file", this.fileContents);
    },

    // handleClick(category) {
    //   console.log("handleClick ", category);
    //   console.log("upload", this.file.name);
    //   if(category === 'face-image'){
    //     this.busytu = true
    //     console.log("busytu", this.busytu);
    //   }
    //
    //   let reader = new FileReader();
    //   // attach listener to be called when data from file
    //   reader.addEventListener(
    //       "load",
    //       function() {
    //         this.fileContents = reader.result;
    //         this.prepareFormData();
    //         let cloudinaryUploadURL = `https://api.cloudinary.com/v1_1/${this.cloudName}/upload`;
    //         let requestObj = {
    //           url: cloudinaryUploadURL,
    //           method: "POST",
    //           data: this.formData,
    //         };
    //         //show progress bar at beginning of post
    //         this.showProgress = true;
    //         getAPI(requestObj)
    //             .then(response => {
    //               this.results = response.data;
    //               console.log(this.results);
    //               console.log("public_id", this.results.public_id);
    //               console.log("secure_url", this.results.secure_url);
    //               if(this.busytu){
    //                 this.event.event_front_image = this.results.secure_url
    //                 console.log("event_front_image", this.event.event_front_image);
    //               }
    //
    //             })
    //             .catch(error => {
    //               this.errors.push(error);
    //               console.log(this.error);
    //             })
    //             .finally(() => {
    //               console.log('finally')
    //             });
    //       }.bind(this),
    //       false
    //   );
    //   // call for file read if there is a file
    //   if (this.file && this.file.name) {
    //     reader.readAsDataURL(this.file);
    //   }
    // },
    // function to handle form submit
    upload: function() {
      console.log("upload", this.file.name);
      this.busytu = true
      let reader = new FileReader();
      // attach listener to be called when data from file
      reader.addEventListener(
          "load",
          function() {
            this.fileContents = reader.result;
            this.prepareFormData();
            let cloudinaryUploadURL = `https://api.cloudinary.com/v1_1/${this.cloudName}/upload`;
            let requestObj = {
              url: cloudinaryUploadURL,
              method: "POST",
              data: this.formData,
            };
            //show progress bar at beginning of post
            // this.showProgress = true;
            getAPI(requestObj)
                .then(response => {
                  this.results = response.data;
                  console.log(this.results);
                  console.log("public_id", this.results.public_id);
                  console.log("secure_url", this.results.secure_url);
                  this.busytu = false
                  this.event.event_front_image = this.results.secure_url;
                })
                .catch(error => {
                  this.busytu = true
                  this.errors.push(error);
                  console.log(this.error);
                })
                .finally(() => {
                  this.busytu = false
                  console.log('finally')
                });
          }.bind(this),
          false
      );
      // call for file read if there is a file
      if (this.file && this.file.name) {
        reader.readAsDataURL(this.file);
      }
    }
  }
}
</script>

<style scoped>
.home_banner_area{
  background: url(https://res.cloudinary.com/jijuncai/image/upload/v1604431470/frontendstaticimages/backgrounds/loginbackground_xayktx.jpg);
  min-height: 960px;
}

img {
  display: block;
  position: center;
  max-width: 100px;
  height: auto;
}
</style>