<template>
  <section class="course_details_area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 course_details_left">
          <div class="main_image">
            <img class="img-fluid" :alt="event.event_name" :src="event.event_front_image" style="width: 750px; height:350px;object-fit: cover">
          </div>
          <div class="content_wrapper">
            <h4 class="title">活动简介</h4>
            <div class="content">{{ event.event_brief }}</div>

            <h4 class="title">活动内容</h4>
            <div class="content">{{ event.event_desc }}</div>

            <h4 class="title">活动图片</h4>
            <!--            <b-container fluid class="p-4">-->
            <b-row>
              <b-col>
                <b-img thumbnail fluid v-for="src in this.images" :src="src" :key="src"></b-img>
              </b-col>
            </b-row>
            <!--            </b-container>-->

            <!--            <div class="section-top-border">-->
            <!--              <h3 class="title_color">Image Gallery</h3>-->
            <!--              <div class="row gallery-item">-->
            <!--                <div class="col-md-4">-->
            <!--                  <b-img thumbnail fluid v-for="src in this.images" :src="src" :key="src"></b-img>-->

            <!--                  <a href="img/elements/g1.jpg" class="img-gal">-->
            <!--                    <div class="single-gallery-image" style="background: url(img/elements/g1.jpg);"></div>-->
            <!--                  </a>-->
            <!--                </div>-->

            <!--              </div>-->
            <!--            </div>-->

          </div>
        </div>

        <div class="col-lg-4 right-contents">
          <ul>
            <li>
              <a class="justify-content-between d-flex" >
                <p>活动名称</p>
                <span class="or">{{ event.event_name }}</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex" >
                <p>活动时间 </p>
                <span>{{ event.launch_time }}</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex" >
                <p>活动地点 </p>
                <span>{{ event.event_address }}</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex" >
                <p>报名资料发送邮箱 </p>
                <span>actech.live@gmail.com</span>
              </a>
            </li>

          </ul>

          <h4 class="title">联系咨询与报名</h4>
          <div class="content">
            <div class="review-top row pt-40">
              <ValidationObserver ref="observer" v-slot="{ valid }">
                <form class="row contact_form" v-on:submit.prevent="postContact" method="post" id="contactForm"
                      novalidate="novalidate">
                  <div class="col-md-6">
                    <div class="form-group">
                      <ValidationProvider name="名字" rules="required" v-slot="{ errors }">
                        <input type="text" class="form-control" id="name" name="名字" v-model="contact.name" placeholder="输入你的名字">
                        <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                      </ValidationProvider>
                    </div>
                    <div class="form-group">
                      <ValidationProvider name="邮箱" rules="required|email" v-slot="{ errors }">
                        <input type="email" class="form-control" id="email" name="邮箱" v-model="contact.email" placeholder="输入你的邮箱">
                        <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                      </ValidationProvider>
                    </div>
                    <div class="form-group">
                      <ValidationProvider name="标题" rules="required" v-slot="{ errors }">
                        <input type="text" class="form-control" id="subject" name="标题" v-model="contact.subject" placeholder="输入标题">
                        <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                      </ValidationProvider>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <ValidationProvider name="信息" rules="required" v-slot="{ errors }">
                        <textarea class="form-control" name="信息" id="message" rows="1" v-model="contact.message" placeholder="输入信息"></textarea>
                        <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                      </ValidationProvider>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="button" value="reset" @click="reset" class="btn primary-btn">  重 置 信 息</button>
                    <button type="submit" :disabled="!valid" value="submit" class="btn primary-btn ml-3"><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  发 送 信 息</button>
                  </div>
                </form>
              </ValidationObserver>
            </div>
          </div>

          <h4 class="title">扫码进入报名微信群</h4>
          <div class="content">
            <div class="review-top row pt-40">
              <div class="col-lg-12">
                <div class="card-body box-profile">
                  <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" style="width:120px; height:150px; object-fit: cover;" :alt="event.event_name" :src="event.register_image">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4 class="title">扫码关注公众号</h4>
          <div class="content">
            <div class="review-top row pt-40">
              <div class="col-lg-12">
                <div class="card-body box-profile">
                  <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" style="width:120px; height:150px; object-fit: cover;" :alt="event.wechat_platform" :src="event.wechat_platform">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a @click='prev' href="#" class="primary-btn text-uppercase enroll">返回上一页</a>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {getAPI} from "@/axios-api";
import { ValidationProvider, ValidationObserver } from 'vee-validate';

export default {
  name: "EventDetail",
  data() {
    return {
      images: [],
      event: {
        'id': null,
        'event_name': '',
        'event_front_image': '',
        'launch_time': '',
        'event_brief': '',
        'register_image': '',
        'wechat_platform': '',
        'event_host': '',
        'event_sponsor': '',
        'event_address': '',
        'event_desc': '',
        'image_set1': '',
        'image_set2': '',
        'image_set3': '',
        'image_set4': '',
        'image_set5': '',
        'is_public': false,
      },
      busy: false,
      contact: {
        'id': '',
        'name': '',
        'email': '',
        'subject': '',
        'message': '',
      }
    }
  },

  components: {
    ValidationProvider,
    ValidationObserver
  },

  created() {
    console.log('eventId'+ this.$route.query.eventId);
    this.getEvent();
  },

  methods: {
    getEvent(){
      getAPI.get('/event/public/' + this.$route.query.eventId)
          .then(response => {
            let jsonData = JSON.stringify(response.data)
            // console.log('projects 里的数据 ' + response.data[0].name)
            console.log('event jsondata 里的数据 ' + jsonData)
            // console.log('projects jsonresults 里的数据 ' + jsonData)
            this.event = response.data
            this.images.push(this.event.event_front_image)
            if (this.event.image_set1){
              this.images.push(this.event.image_set1)
            }
            if (this.event.image_set2){
              this.images.push(this.event.image_set2)
            }
            if (this.event.image_set3){
              this.images.push(this.event.image_set3)
            }
            if (this.event.image_set4){
              this.images.push(this.event.image_set4)
            }
            if (this.event.image_set5){
              this.images.push(this.event.image_set5)
            }
            console.log('images 里的数据 ' + this.images.length)
          })
          .catch(err => {
            console.log(err)
          })
    },

    prev(){
      this.$router.push({ name: 'MainPage' })
    },

    postContact() {
      console.log('发信息')
      this.busy = true;
      getAPI.post('/contact',
          {
            name: this.contact.name,
            email: this.contact.email,
            subject: this.contact.subject,
            message: this.contact.message + ', 活动ID: ' + this.event.id + ', 活动名称: ' + this.event.event_name,
          },)
          .then(response => {
            this.busy = false
            let jsonData = JSON.stringify(response.data)
            console.log('contact create 里的数据 ' + jsonData)
            // this.$alert("您的活动创建成功");
            // this.profile = response.data
            // this.value = response.data.is_public
            this.$alert("您的信息发送成功，我们会第一时间尽快回复")
            this.contact.name = ''
            this.contact.email = ''
            this.contact.subject = ''
            this.contact.message = ''
            this.$refs.observer.reset();
          })
          .catch(err => {
            console.log(err)
            this.$alert("网络可能有问题，请再试一次")
            this.busy = false
          })
    },

    reset() {
      this.contact.name = ''
      this.contact.email = ''
      this.contact.subject = ''
      this.contact.message = ''
      this.$refs.observer.reset();
    }
  }
}
</script>

<style scoped>

</style>