<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--    <link rel="icon" href="img/favicon.png" type="image/png">-->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>美中科技</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">-->
    <!--	<link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">-->
    <!--	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">-->
    <!--	<link rel="stylesheet" href="vendors/animate-css/animate.css">-->
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.min.js" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous"></script>&lt;!&ndash;<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>&ndash;&gt;-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.1/jquery.stellar.js" integrity="sha512-tsoJ9kYkC/+fPBeXFf2MIHzJNN0IbY9yIkd8ED04FEoK9gYJjgRwlqiVQIiRYCKoG+jmh197ONmSPUufwAYk4w==" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.js" integrity="sha512-zUUZJUMK19j/aCgjs828G2oo+Xr/PPAjiCqE2nsvq6kVXcFs+9n5w8Jwe2tjKaCfNrejmL0AHvdUYq38qwZswg==" crossorigin="anonymous"></script>-->


<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<!--	<script src="js/jquery-3.2.1.min.js"></script>-->
<!--	<script src="js/popper.js"></script>-->
<!--	<script src="js/bootstrap.min.js"></script>-->
<!--	<script src="js/stellar.js"></script>-->
<!--	<script src="js/countdown.js"></script>-->
<!--	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>-->
<!--	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>-->
<!--	<script src="js/owl-carousel-thumb.min.js"></script>-->
<!--	<script src="js/jquery.ajaxchimp.min.js"></script>-->
<!--	<script src="vendors/counter-up/jquery.counterup.js"></script>-->
<!--	<script src="js/mail-script.js"></script>-->
<!--	&lt;!&ndash;gmaps Js&ndash;&gt;-->
<!--	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>-->
<!--	<script src="js/gmaps.min.js"></script>-->
<!--	<script src="js/theme.js"></script>-->
</body>
</html>
