<template>
  <div class="events_area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="main_title">
            <h2>精彩活动</h2>
            <p>我们将会发布最新、最有价值的线上线下活动，特殊的活动我们会通过我们的系统向您发出邀请，敬请关注！！！</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6" v-for="event in events" :key="event.id" @dblclick="$data.event = event">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="single_event">
                <div class="row align-items-center">
                  <div class="col-lg-6 col-md-5">
                    <div class="event_thumb">
                      <img @click="eventDetail(event.id)" class="img-fluid w-100" :alt="event.event_name" :src="event.event_front_image" style="width:300px;height:200px;object-fit: cover; cursor: pointer">
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-7">
                    <div class="event_details">
                      <p>{{ event.launch_time }}</p>
                      <h4>
                        <a href="#" @click="eventDetail(event.id)" >{{ event.event_name }}</a>
                      </h4>
                      <p style="position:relative; line-height: 1.5em; height: 6em; overflow: hidden; ">{{ event.event_brief }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {getAPI} from "@/axios-api";

export default {
  name: "EventsComing",
  data(){
    return {
      event: {
        'id': null,
        'event_name': '',
        'launch_time': '',
        'event_front_image': '',
        'event_brief': '',
      },
      events: []
    }
  },

  async created(){
    this.getEvents();
  },

  methods: {
    getEvents() {
      getAPI.get('/events/?is_public=True')
          .then((response) => {
            this.events = response.data
            console.log(response.data);
          })
          .catch((e) => {
            console.log(e);
          });
    },

    // async getEvents(){
    //   var response = await fetch('http://127.0.0.1:8000/events/');
    //   this.events = await response.json();
    //   console.log(this.events);
    // },

    eventDetail(eventId){

      console.log('去活动详情页 ' + eventId)
      this.$router.push({
        path: `EventDetail`,
        query: { eventId: eventId }
      });

    },
  }
}
</script>

<style scoped>

</style>