<template>
	<section class="feature_area">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-lg-4">
					<div class="single_feature d-flex flex-row pb-30">
						<div class="icon">
							<span class="lnr lnr-laptop"></span>
						</div>
						<div class="desc">
							<h4>项目</h4>
							<p>
								我们项目绝大部分来自世界科技创新之地美国硅谷，无数的世界顶尖科技和新商业从这里出发。。。
							</p>
						</div>
					</div>
					<div class="single_feature d-flex flex-row pb-30">
						<div class="icon">
							<span class="lnr lnr-users"></span>
						</div>
						<div class="desc">
							<h4>猎头</h4>
							<p>
								硅谷科技专业人士是全球最顶尖也是最多的，我们以这些人为起点，链接着全球顶尖专业人脉网络。
							</p>
						</div>
					</div>
					<div class="single_feature d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-bubble"></span>
						</div>
						<div class="desc">
							<h4>技术服务</h4>
							<p>
								顶尖、专业和高效的技术团队服务了众多科技和传统公司，为科技公司保驾护航，为传统公司智慧升级。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
name: "FeatureArea"
}
</script>

<style scoped>

</style>