<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="banner_content">
              <h2 style="text-shadow: black 0.1em 0.1em 0.2em;" >
                永不下线的高创会 <br>
                发源于硅谷的 <br>
                项目、技术和猎头服务
              </h2>

              <p style="text-shadow: black 0.1em 0.1em 0.2em;">美中科技发源于美国硅谷，以硅谷众多科技精英和资深顾问为基础，多年从事北美与国内的项目、技术、猎头、教育、商贸和文化的对接、交流与合作，
                在北美接待了国内商务考察代表团30多次，促成海外项目国内考察团20余次，促成多个海外项目落地国内。</p>
              <router-link :to="{name: 'register'}">
                <a v-if="!this.$store.state.access_token" class="primary-btn text-uppercase" style="color: white">现 在 注 册</a>
              </router-link>
            </div>
          </div>
<!--          <div class="col-lg-6">-->
<!--            <div>-->
<!--                <b-embed type="video" aspect="16by9" controls poster="https://res.cloudinary.com/jijuncai/image/upload/v1606372546/events/IMG_3509_h3cafv.jpg">-->
<!--                  <source src="https://res.cloudinary.com/jijuncai/video/upload/v1607456531/videos/MVI_9893_xvwcar.mov" type="video/mp4">-->
<!--                </b-embed>-->
<!--              </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "HomeBanner"
}
</script>

<style scoped>
.home_banner_area{
  background: url(https://res.cloudinary.com/jijuncai/image/upload/v1604431474/frontendstaticimages/backgrounds/home-banner_x36tfe.jpg);
}
</style>