<template>
  <div>
    <Header />
    <router-view/>
    <Footer />
  </div>

</template>

<script>
import Header from "@/components/headerfooter/Header";

import Footer from "@/components/headerfooter/Footer";

export default {
  name: "Home",
  components: {
    Header,

    Footer
  },
}


</script>

<style scoped lang="scss">

</style>