<template>
  <div>
    <HomeBanner/>
    <FeatureArea/>
    <VideoShow/>
    <ProjectsIntro/>
    <TopProjects/>
    <EventsComing/>
  </div>
</template>

<script>
import EventsComing from "@/components/mainpage/EventsComing";
import HomeBanner from "@/components/mainpage/HomeBanner";
import FeatureArea from "@/components/mainpage/FeatureArea";
import ProjectsIntro from "@/components/mainpage/ProjectsIntro";
import TopProjects from "@/components/mainpage/TopProjects";
import VideoShow from "@/components/mainpage/VideoShow";

export default {
  name: "MainPage",
  components: {
    HomeBanner,
    FeatureArea,
    ProjectsIntro,
    TopProjects,
    EventsComing,
    VideoShow,
  }
}
</script>

<style scoped>

</style>