<template>

  <div class="popular_courses lite_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="main_title">
            <h2>前沿项目</h2>
            <p>以美国硅谷为主阵地的来自全球最火、最前沿的高科技项目聚集于此，让我们先睹为快！</p>
          </div>
        </div>
      </div>
      <!--      <b-row>-->
      <!--        <b-col>-->
      <!--          <b-img thumbnail fluid v-for="src in this.images" :src="src" :key="src"></b-img>-->
      <!--        </b-col>-->
      <!--      </b-row>-->
      <div class="row mt-3">
        <div class="col-lg-3 col-md-6" v-for="project in projects" :key="project.id" >
          <div
              class="single_course"
              style="box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.2); pointer-events: none">
            <div class="course_head overlay" style="border-radius:5%" >
              <img class="img-fluid w-100" :alt="project.name" :src="project.project_image_url" style="height:160px;object-fit: cover">
              <div class="authr_meta">
                <img  :src="project.owner.profile_image" :alt="project.owner.username" style="width:40px;height:40px;border-radius:50%;object-fit: cover;">
                <span  style="text-shadow: black 0.1em 0.1em 0.2em;">{{ project.owner.username }}</span>
              </div>
            </div>


            <div class="course_content" >
              <div class="switch-wrap d-flex justify-content-between">
                <h4 style="padding: 0px 20px; position:relative; line-height: 1.8em; height: 1.8em; overflow: hidden;">
                  <a >{{ project.name }}</a>
                </h4>
                <div v-if="project.category_type === '人工智能'" class="dpmt_icon" style="padding: 0px 20px">
                  <img v-b-popover.hover.top="'人工智能'" src="img/dpmt/icon1.png" alt="" style="width: 30px">
                </div>
                <div v-if="project.category_type === '物联网'" class="dpmt_icon" style="padding: 0px 20px">
                  <img v-b-popover.hover.top="'物联网'" src="img/dpmt/icon2.png" alt="" style="width: 30px">
                </div>
                <div v-if="project.category_type === '虚拟和增加现实'" class="dpmt_icon" style="padding: 0px 20px">
                  <img v-b-popover.hover.top="'虚拟和增加现实'" src="img/dpmt/icon3.png" alt="" style="width: 30px">
                </div>
                <div v-if="project.category_type === '区块链'" class="dpmt_icon" style="padding: 0px 20px">
                  <img v-b-popover.hover.top="'区块链'" src="img/dpmt/icon4.png" alt="" style="width: 30px">
                </div>
                <div v-if="project.category_type === '智慧城市'" class="dpmt_icon" style="padding: 0px 20px">
                  <img v-b-popover.hover.top="'智慧城市'" src="img/dpmt/icon5.png" alt="" style="width: 30px">
                </div>
                <div v-if="project.category_type === '智能机器人'" class="dpmt_icon" style="padding: 0px 20px">
                  <img v-b-popover.hover.top="'智能机器人'" src="img/dpmt/icon6.png" alt="" style="width: 30px">
                </div>
                <div v-if="project.category_type === '大健康'" class="dpmt_icon" style="padding: 0px 20px">
                  <img v-b-popover.hover.top="'大健康'" src="img/dpmt/icon7.png" alt="" style="width: 30px">
                </div>
                <div v-if="project.category_type === '其他'" class="dpmt_icon" style="padding: 0px 20px">
                  <img v-b-popover.hover.top="'其他'" src="img/dpmt/others.png" alt="" style="width: 30px">
                </div>
              </div>


              <p style="padding: 0px 20px; position:relative; line-height: 1.5em; height: 6em; overflow: hidden;">{{ project.projects_brief }}</p>
              <div class="course_meta flex justify-content-between">
                <div style="flex: auto; border-radius:8%; text-align: center;" class="price df_color1" v-if="project.is_raise_money">
                  融资：{{ project.amount_of_raise_money }}万元人民币
                </div>

                <div style="flex: auto; border-radius:5%; text-align: center" class="price df_color2" v-else-if="project.is_find_partners">
                  人才需求： {{ project.find_partner_category_type }}
                </div>
                <div style="flex: auto; border-radius:5%; text-align: center" class="price" v-else-if="project.is_find_market">
                  市场需求: {{ project.find_market_category_type }}
                </div>
                <div style="flex: auto; border-radius:5%; text-align: center" class="price df_color3" v-else>
                  等待发布新需求
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--      <div class="row justify-content-center">-->
<!--        <div class="col-lg-3">-->
<!--          <p>我们为企业提供融资、寻找合伙人和市场服务，还等什么。。。</p>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <button type="button" value="reset" @click="reset" class="btn primary-btn">  现 在 注 册</button>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>

</template>

<script>

export default {
  name: 'TopProjects',
  data(){
    return {
      projects: [ {"id":2,"owner":{"id":12,"username":"黄继辉","profile_image":"https://res.cloudinary.com/jijuncai/image/upload/v1601269117/actech/ul2offhlfi2jon5tenkw.png","is_public":true},"created_at":"2020-10-25T19:01:13.095141Z","name":"智驰安科技","category_type":"人工智能","project_image_url":"https://res.cloudinary.com/jijuncai/image/upload/v1603651921/projects/lqdbgrnszpwic4955sq1.png","projects_brief":"全新业态智能驾驶量产级全栈方案设计服务商，是业内能力领先的面向汽车前装与后装业务的ADAS系统和算法整体解决方案服务商。","is_find_market":true,"find_market_category_type":"中国市场","is_find_partners":false,"find_partner_category_type":"","is_raise_money":false,"raise_money_stage":"","amount_of_raise_money":"","is_public":true},
        {"id":3,"owner":{"id":13,"username":"袁胜","profile_image":"https://res.cloudinary.com/jijuncai/image/upload/v1603655070/actech/Screen_Shot_2020-06-30_at_3.35.02_PM_l1ads1.png","is_public":true},"created_at":"2020-10-25T19:01:13.095141Z","name":"iGlassAR移动巨屏","category_type":"虚拟和增加现实","project_image_url":"https://res.cloudinary.com/jijuncai/image/upload/v1603655191/actech/Screen_Shot_2020-10-25_at_12.46.19_PM_ubszwl.png","projects_brief":"iGlass,可以和昂贵激光投影大电视拼视觉效果的全球最清晰AR移动巨屏，5G时代新体验。这是iGlass团队过去8年间做出的第三款AR移动大屏类产品。","is_find_market":false,"find_market_category_type":"","is_find_partners":false,"find_partner_category_type":"","is_raise_money":true,"raise_money_stage":"天使轮","amount_of_raise_money":"600","is_public":true},
        {"id":4,"owner":{"id":14,"username":"美中科技","profile_image":"https://res.cloudinary.com/jijuncai/image/upload/v1604599848/users/uutz7c2avwnkdxtnliza.png","is_public":true},"created_at":"2020-10-25T19:01:13.095141Z","name":"美中科技","category_type":"其他","project_image_url":"https://res.cloudinary.com/jijuncai/image/upload/v1603667516/actech/Screen_Shot_2020-10-25_at_4.11.39_PM_pgeqm6.png","projects_brief":"美中科技发源于美国硅谷，以硅谷众多科技精英和资深顾问为基础，多年从事北美与国内的项目、技术、猎头、教育、商贸和文化的对接、交流与合作， 在北美接待了国内商务考察代表团30多次，促成海外项目国内考察团20余次，促成多个海外项目落地国内。","is_find_market":false,"find_market_category_type":"","is_find_partners":true,"find_partner_category_type":"高级顾问","is_raise_money":false,"raise_money_stage":"","amount_of_raise_money":"600","is_public":true},
        {"id":5,"owner":{"id":15,"username":"李方为","profile_image":"https://res.cloudinary.com/jijuncai/image/upload/v1603668505/actech/Screen_Shot_2020-06-30_at_12.19.45_AM_xqgvrq.png","is_public":true},"created_at":"2020-10-25T19:01:13.095141Z","name":"BearRobotics","category_type":"人工智能","project_image_url":"https://res.cloudinary.com/jijuncai/image/upload/v1603668651/actech/Screen_Shot_2020-10-25_at_4.30.34_PM_xoaesv.png","projects_brief":"2020年年初由软银集团领投，该公司完成了3200万美元A轮融资，Bear Robotics是一家总部位于加利福尼亚州雷德伍德市的初创公司，其拥有40名员工。该公司一直在开发机器人来为餐厅客户提供食物。","is_find_market":false,"find_market_category_type":"","is_find_partners":false,"find_partner_category_type":"","is_raise_money":false,"raise_money_stage":"","amount_of_raise_money":"","is_public":true}],
    }
  },
}
</script>

<style>

</style>