<template>
  <div class="popular_courses lite_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title">
            <h2>2021年新年祝福视频</h2>
<!--            <p>关于我们的宣传视频来自我们举办的各种活动！</p>-->
            <b-embed type="video" aspect="16by9" controls poster="https://res.cloudinary.com/jijuncai/image/upload/v1606372546/events/IMG_3509_h3cafv.jpg">
              <source src="https://res.cloudinary.com/jijuncai/video/upload/v1607491347/videos/%E8%94%A1%E7%BB%A7%E5%86%9B-%E7%BE%8E%E5%9B%BD%E5%8A%A0%E5%B7%9E%E6%B1%9F%E8%A5%BF%E5%95%86%E4%BC%9A_v6smbv.mp4" type="video/mp4">
            </b-embed>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "VideoShow"
}
</script>

<style scoped>

</style>