<template>
  <footer class="footer-area section_gap">
    <div class="container">
      <div class="row">

        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>项目</h4>
          <ul>
            <li><router-link :to="{name: 'ProjectsPool'}">优质项目</router-link></li>
            <li><router-link :to="{name: 'ProjectsService'}">项目服务</router-link></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>技术服务</h4>
          <ul>
            <li><router-link :to="{name: 'TechTeamPool'}">技术团队</router-link></li>
            <li><router-link :to="{name: 'TechTeamService'}">技术服务</router-link></li>

          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>猎头</h4>
          <ul>
            <li><router-link :to="{name: 'TalentsPool'}">猎头资源</router-link></li>
            <li><router-link :to="{name: 'TalentsService'}">猎头服务</router-link></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>关于我们</h4>
          <ul>
            <li><router-link :to="{name: 'about'}">关于我们</router-link></li>
            <li><router-link :to="{name: 'contact'}">联系我们</router-link></li>
            <li><router-link :to="{name: 'JoinUs'}">加入我们</router-link></li>
            <li><router-link :to="{name: 'termsAndPrivacy'}">声明和隐私</router-link></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
          <h4>电子报</h4>
          <p>您可以信任我们。 我们只发送对你有价值的信息</p>

          <div class="form-wrap" id="mc_embed_signup">
            <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
              <form target="_blank" @submit.prevent="handleSubmit(subscribe)" method="post" class="form-inline">
                <ValidationProvider name="邮箱" rules="required|email" v-slot="{ errors }">

                  <input class="form-control" name="邮箱" v-model="email" placeholder="你的邮箱地址" onfocus="this.placeholder = ''" onblur="this.placeholder = '你的邮箱地址'" type="email">
                  <button class="click-btn btn btn-default ml-0 mt-3">
                  <span><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  定阅</span>
                </button>
                  <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                </ValidationProvider>

<!--                <div style="position: absolute; left: -5000px;">-->
<!--                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">-->
<!--                </div>-->

<!--                <div class="info"></div>-->
              </form>
            </ValidationObserver>
          </div>

          <!--          <ValidationObserver ref="observer" v-slot="{ handleSubmit }">-->
          <!--            <div class="form-wrap" id="mc_embed_signup">-->
          <!--              <form class="row contact_form" @submit.prevent="handleSubmit(subscribe)" method="post" id="contactForm"-->
          <!--                    novalidate="novalidate">-->

          <!--                <div class="form-group">-->
          <!--                  <ValidationProvider name="邮箱" rules="required|email" v-slot="{ errors }">-->
          <!--                    &lt;!&ndash;                  <input type="email" class="form-control" id="email" name="邮箱" v-model="contact.email" placeholder="输入你的邮箱">&ndash;&gt;-->
          <!--                    <input class="form-control" name="EMAIL" placeholder="你的邮箱地址" onfocus="this.placeholder = ''" onblur="this.placeholder = '你的邮箱地址'" required="" type="email">-->
          <!--                    <button class="click-btn btn btn-default" ><span>定阅</span></button>-->
          <!--                    &lt;!&ndash;                  <div style="position: absolute; left: -5000px;">&ndash;&gt;-->
          <!--                    &lt;!&ndash;                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">&ndash;&gt;-->
          <!--                    &lt;!&ndash;                  </div>&ndash;&gt;-->
          <!--                    <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>-->
          <!--                  </ValidationProvider>-->
          <!--                </div>-->



          <!--              </form>-->
          <!--            </div>-->
          <!--          </ValidationObserver>-->
        </div>
      </div>
      <div class="row footer-bottom d-flex justify-content-between">
        <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">版权 © 2019-2020, 美中科技 版权所有 </p>
        <div class="col-lg-4 col-sm-12 footer-social">
          <a ><i v-b-popover.hover.top="'陆续开放，敬请期待'" class="fa fa-facebook"></i></a>
          <a ><i v-b-popover.hover.top="'陆续开放，敬请期待'" class="fa fa-twitter"></i></a>
          <a ><i v-b-popover.hover.top="'陆续开放，敬请期待'" class="fa fa-dribbble"></i></a>
          <a ><i v-b-popover.hover.top="'陆续开放，敬请期待'" class="fa fa-behance"></i></a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';
import {getAPI} from "@/axios-api";

export default {
  name: "Footer",
  data() {
    return {
      busy: false,
      email: ''
    }
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },

  methods: {
    subscribe () {
      this.busy = true;
      getAPI.post('/contact',
          {
            name: 'people',
            email: this.email,
            subject: 'subscribe',
            message: 'coming',
          },)
          .then(response => {
            this.busy = false
            let jsonData = JSON.stringify(response.data)
            console.log('contact create 里的数据 ' + jsonData)
            // this.$alert("您的活动创建成功");
            // this.profile = response.data
            // this.value = response.data.is_public

            this.$alert("您的订阅成功，我们会定时发送最新资讯给您！")
            this.email = ''
            this.$refs.observer.reset();
          })
          .catch(err => {
            console.log(err)
            this.$alert("网络可能有问题，请再试一次")
            this.busy = false
          })
    }
  }
}
</script>

<style scoped>

</style>