<template>
  <header class="header_area">
    <!--    <div class="header-top">-->
    <!--      <div class="container">-->
    <!--        <div class="row align-items-center">-->
    <!--          <div class="col-lg-6 col-sm-6 col-4 header-top-left">-->
    <!--            <a href="tel:+9530123654896">-->
    <!--              <span class="lnr lnr-phone"></span>-->
    <!--              <span class="text">-->
    <!--								<span class="text">+1(650)823-1660</span>-->
    <!--							</span>-->
    <!--            </a>-->
    <!--            <a href="mailto:support@colorlib.com">-->
    <!--              <span class="lnr lnr-envelope"></span>-->
    <!--              <span class="text">-->
    <!--								<span class="text">jijuncai8@gmail.com</span>-->
    <!--							</span>-->
    <!--            </a>-->
    <!--          </div>-->
    <!--          <div class="col-lg-6 col-sm-6 col-8 header-top-right" >-->

    <!--            <router-link v-if="access_token!=null" :to = "{ name:'main' }">{{username}}</router-link>-->
    <!--            &lt;!&ndash;            <li class="nav-item"></li>&ndash;&gt;-->
    <!--            <router-link style="padding-left:1em" v-if="access_token!=null" :to = "{ name:'logout' }">退出</router-link>-->
    <!--            <ul class="navbar-nav mr-auto">-->
    <!--              <li class="nav-item">-->
    <!--              <li class="nav-item" v-if="access_token==null"><router-link :to = "{ name:'login' }">登陆</router-link></li>-->
    <!--            </ul>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="main_menu">
      <!--      <div class="search_input" id="search_input_box">-->
      <!--        <div class="container">-->
      <!--          <form class="d-flex justify-content-between" method="" action="">-->
      <!--            <input type="text" class="form-control" id="search_input" placeholder="请搜索">-->
      <!--            <button type="submit" class="btn"></button>-->
      <!--            <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>-->
      <!--          </form>-->
      <!--        </div>-->
      <!--      </div>-->

      <nav class="navbar navbar-expand-lg navbar-light">
        <div data-toggle="collapse" data-target=".navbar-collapse.show" class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <router-link class="navbar-brand logo_h" :to="{name: 'MainPage'}"><img src="img/logo.png" alt="" width="152" height="47"></router-link>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item"><router-link class="nav-link" :to="{name: 'MainPage'}">主页</router-link></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于我们</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><router-link class="nav-link" :to="{name: 'about'}">关于我们</router-link></li>
                  <li class="nav-item"><router-link class="nav-link" :to="{name: 'JoinUs'}">加入我们</router-link></li>

                </ul>
              </li>

              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">资源服务</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><router-link class="nav-link" :to="{name: 'ProjectsPool'}">优质项目</router-link></li>
                  <li class="nav-item"><router-link class="nav-link" :to="{name: 'ProjectsService'}">项目服务</router-link></li>
                  <li class="nav-item"><router-link class="nav-link" :to="{name: 'TalentsPool'}">猎头资源</router-link></li>
                  <li class="nav-item"><router-link class="nav-link" :to="{name: 'TalentsService'}">猎头服务</router-link></li>
                </ul>
              </li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">技术服务</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><router-link class="nav-link" :to="{name: 'TechTeamPool'}">技术团队</router-link></li>
                  <li class="nav-item"><router-link class="nav-link" :to="{name: 'TechTeamService'}">技术服务</router-link></li>

                </ul>
              </li>

              <li class="nav-item" ><router-link class="nav-link" :to="{name: 'contact'}">联系我们</router-link></li>

              <li class="nav-item" v-if="access_token!=null"><router-link class="nav-link" :to = "{ name:'profile' }">{{username}}</router-link></li>
              <li class="nav-item" v-if="access_token!=null"><router-link class="nav-link" :to = "{ name:'logout' }">退出</router-link></li>
              <li class="nav-item" v-if="access_token==null"><router-link class="nav-link" :to = "{ name:'register' }">注册</router-link></li>
              <li class="nav-item" v-if="access_token==null"><router-link class="nav-link" :to = "{ name:'login' }">登陆</router-link></li>


              <!--							<li class="nav-item">-->
              <!--								<a href="#" class="nav-link search" id="search">-->
              <!--									<i class="lnr lnr-magnifier"></i>-->
              <!--								</a>-->
              <!--							</li>-->
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!--  <script src="$/public/js/bootstrap.min.js"></script>-->
</template>



<script>
// import  * from './../public/js/bootstrap.min.js'
import { mapState } from 'vuex'

export default {
  name: "Header",
  computed: mapState(['access_token', 'username'])
}
</script>
<!--	<script src="public/js/jquery-3.2.1.min.js"></script>-->
<!--	<script src="public/js/popper.js"></script>-->
<!--	<script src="public/js/bootstrap.min.js"></script>-->
<!--	<script src="public/js/stellar.js"></script>-->
<!--	<script src="public/js/countdown.js"></script>-->
<!--	<script src="public/vendors/nice-select/js/jquery.nice-select.min.js"></script>-->
<!--	<script src="public/vendors/owl-carousel/owl.carousel.min.js"></script>-->
<!--	<script src="public/js/owl-carousel-thumb.min.js"></script>-->
<!--	<script src="public/js/jquery.ajaxchimp.min.js"></script>-->
<!--	<script src="public/vendors/counter-up/jquery.counterup.js"></script>-->
<!--	<script src="public/js/mail-script.js"></script>-->
<!--gmaps Js-->
<!--	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>-->
<!--	<script src="public/js/gmaps.min.js"></script>-->
<!--	<script src="public/js/theme.js"></script>-->

<style scoped lang="scss">

</style>