<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h3 style="color: white">您的帐号已激活，请登陆 </h3>
                <br>
                <button class="btn primary-btn"><router-link style="color: white; font-size: 22px" :to = "{ name:'login' }">登陆</router-link></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "activate"
}
</script>

<style scoped>

</style>