<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="container text-dark">
          <div class="row justify-content-md-center">
            <div class="col-md-5 p-4 justify-content-md-center radius" style="background-color: white">
              <h1 class="h3 mb-3 font-weight-normal text-center" style="word-spacing: 20px">登 陆</h1>
              <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red" v-if="incorrectAuth">输入的邮箱或密码有错，请再试一次</p>
              <ValidationObserver ref="observer" v-slot="{ valid }">
                <form v-on:submit.prevent="login">

                  <div class="input-group-icon mt-20 input-group-lg radius">
                    <div class="icon" style="margin-left: -7px"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></div>
                    <ValidationProvider name="邮箱" rules="required|email" v-slot="{ errors }">
                      <input style="height:46px" type="text" name="email" id="user" v-model="email" placeholder="邮箱(登陆帐号名)" onfocus="this.placeholder = ''" onblur="this.placeholder = '邮箱(登陆帐号名)'"
                             required class="single-input radius">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                  <div class="input-group-icon mt-20 input-group-lg radius">
                    <div class="icon" style="margin-left: -7px"><i class="fa fa-key fa-lg" aria-hidden="true"></i></div>
                    <ValidationProvider rules="required|min:6" name="密码" v-slot="{ errors }">
                      <input style="height:46px" type="password"
                             v-model="password"
                             placeholder="请输入密码" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入密码'"
                             required class="single-input radius">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>

                  <div class="input-group-icon mt-20 radius">

                    <button type="submit" :disabled="!valid" class="btn primary-btn btn-block radius" style="font-size: 18px; word-spacing: 20px"><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  登 陆</button>

                  </div>

                </form>
              </ValidationObserver>
              <br>
              <div class="switch-wrap d-flex justify-content-between">
                <p class="form-p" style="color: darkgray">
                  没有帐号？
                  <router-link class="genric-btn success-border radius" :to="{ name:'register' }" style="color: lightseagreen">立即注册</router-link>
                </p>
                <router-link class="genric-btn success-border radius" :to="{ name:'requestResetEmail' }" style="color: lightseagreen">忘记密码？</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>


<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';

export default {
  name: 'login',
  data () {
    return {
      email: '',
      password: '',
      incorrectAuth: false,
      busy: false,
    }
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  methods: {
    login () {
      this.busy = true;
      this.$store.dispatch('userLogin', {
        email: this.email,
        password: this.password
      })
          .then(() => {
            // loadProgressBar()
            this.busy = false;
            this.$router.push({ name: 'MainPage' })
          })
          .catch(err => {
            console.log(err)
            this.busy = false;
            this.incorrectAuth = true
          })
    }
  }
}
</script>

<style>
.home_banner_area{
  background: url(https://res.cloudinary.com/jijuncai/image/upload/v1604431470/frontendstaticimages/backgrounds/loginbackground_xayktx.jpg);
}

</style>