<template>
  <div class="log">
  </div>
</template>

<script>
export default {
  name: "logout",
  created () {
    this.$store.dispatch('userLogout')
        .then(() => {
          this.$router.push({ name: 'MainPage' })
        })
  }
}
</script>

<style scoped>

</style>