<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">

          <div class="col-md-12 mt-3 mb-3">
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <router-link :to="{name: 'profile'}">
                  <button type="button" class="btn btn-outline-info btn-block btn-xs" style="font-size: 18px; word-spacing: 20px">返回个人主页</button>
                </router-link>

                <form name="formEdit" action="" method="post" >
                  <ul class="list-group list-group-unbordered mt-3">
                    <li class="list-group-item d-flex justify-content-between" style="border: none">
                      <strong><i class="fa fa-sign-in"></i> 登陆帐号</strong>
                      <p>{{ profile.email }} </p>
                    </li>

                    <li class="list-group-item" style="border: none">
                      <strong><i class="fa fa-file-image-o"></i> 个人头像</strong>
                      <form v-on:submit.prevent="upload" class="mt-3">
                        <!-- allow the user to select an image file and when they have selected it call a function
                        to handle this event-->
                        <label for="file-input">请选择上传照片: </label>
                        <b-spinner v-if="busytu" small type="grow" style="margin-left: 6px; "></b-spinner>
                        <input
                            class="ml-3"
                            id="file-input"
                            type="file"
                            accept="image/*"
                            @change="handleFileChange($event)"
                        />
                        <!-- submit button is disabled until a file is selected -->
                        <!--                        <button type="submit" :disabled="filesSelected < 1">点击上传</button>-->
                      </form>
                    </li>
                    <li class="list-group-item" style="border: none" v-if="results && results.secure_url">
                      <img :src="results.secure_url" :alt="results.public_id" />
                    </li>
                    <li class="list-group-item" style="border: none" v-else>
                        <img :src="profile.profile_image" :alt="profile.id" />
                      </li>
                    <li class="list-group-item" style="border: none">
                      <strong><i class="fa fa-user"></i> 个人姓名</strong>
                      <input type="text" name="username" placeholder="个人姓名" onfocus="this.placeholder = ''" onblur="this.placeholder = '个人姓名'"
                             required class="single-input-primary  mt-3" v-model="profile.username">
                    </li>
                    <li class="list-group-item" style="border: none">
                      <strong><i class="fa fa-at"></i> 用户类型</strong>
                      <b-form-group class="mt-3">
                        <b-form-radio-group
                            v-model="profile.user_category"
                            :options="category"
                            name="radio-inline"
                        ></b-form-radio-group>
                      </b-form-group>
                      <!--                      label="请选择用户类型" style="color: lightseagreen"-->
                    </li>
                    <li class="list-group-item" style="border: none">
                      <strong><i class="fa fa-users"></i> 职位</strong>
                      <input type="text" name="title" placeholder="职位" onfocus="this.placeholder = ''" onblur="this.placeholder = '职位'"
                             required class="single-input-primary  mt-3" v-model="profile.title">
                    </li>

                    <li class="list-group-item" style="border: none">
                      <strong><i class="fa fa-briefcase"></i> 所在公司或机构</strong>
                      <input type="text" name="company" placeholder="所在公司或机构" onfocus="this.placeholder = ''" onblur="this.placeholder = '所在公司或机构'"
                             required class="single-input-primary mt-3" v-model="profile.organization_company">
                    </li>
                    <li class="list-group-item borderless" style="border: none">
                      <strong><i class="fa fa-graduation-cap"></i> 教育背景</strong>
                      <input type="text" name="education" placeholder="教育背景" onfocus="this.placeholder = ''" onblur="this.placeholder = '教育背景'"
                             required class="single-input-primary  mt-3" v-model="profile.graduated_school">
                    </li>
                    <li class="list-group-item borderless" style="border: none">
                      <strong><i class="fa fa-laptop" aria-hidden="true"></i>个人简介</strong>
                      <textarea class="single-input-primary mt-3" v-model="profile.brief_desc" placeholder="个人简介" onfocus="this.placeholder = ''" onblur="this.placeholder = '个人简介'"
                                required></textarea>
                    </li>
                    <li class="list-group-item borderless" style="border: none">
                      <strong><i class="fa fa-map-marker"></i> 常驻地点</strong>
                      <input type="text" name="location" placeholder="常驻地点" onfocus="this.placeholder = ''" onblur="this.placeholder = '常驻地点'"
                             required class="single-input-primary  mt-3" v-model="profile.location">
                    </li>
                    <li class="list-group-item borderless" style="border: none">
                      <strong><i class="fa fa-phone"></i> 手机号</strong>
                      <input type="text" name="phone" placeholder="手机号" onfocus="this.placeholder = ''" onblur="this.placeholder = '手机号'"
                             required class="single-input-primary  mt-3" v-model="profile.mobile">
                    </li>
                    <li class="list-group-item borderless" style="border: none">
                      <strong><i class="fa fa-comments"></i> 微信ID</strong>
                      <input type="text" name="wechat" placeholder="微信ID" onfocus="this.placeholder = ''" onblur="this.placeholder = '微信ID'"
                             required class="single-input-primary  mt-3" v-model="profile.weixin_id">
                    </li>
                  </ul>
                  <button type="button" class="btn btn-outline-info btn-block btn-xs mt-3" style="font-size: 18px; word-spacing: 20px" @click="confirmModify"><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  确认修改</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {getAPI} from "@/axios-api";

export default {
  name: "modifyProfile",

  data(){
    return {
      results: null,
      errors: [],
      file: null,
      filesSelected: 0,
      cloudName: "jijuncai",
      preset: "actechusers",
      tags: "browser-upload",
      fileContents: null,
      formData: null,
      busy: false,
      busytu: false,
      profile: {
        'username': '',
        'email': '',
        'profile_image': '',
        'brief_desc': '',
        'title': '',
        'is_public': false,
        'graduated_school': '',
        'organization_company': '',
        'weixin_id': '',
        'mobile': '',
        'location': '',
        'gender': '',
        'birthday': null,
        'user_category': '',
      },
      category: [
        { text: '创业者', value: '创业者' },
        { text: '专业人才', value: '专业人才' },
        { text: '投资人', value: '投资人' },
        { text: '企业家', value: '企业家' },
        { text: '政府', value: '政府' },
        { text: '公司', value: '公司' },
        { text: '顾问', value: '顾问' },
        { text: '其他', value: '其他' },
      ]
    }
  },

  created () {
    this.getProfile()


  },

  methods: {

    getProfile(){

      getAPI.get('/user-profile/{id}/',{
        headers: {
          Authorization: `Bearer ${this.$store.state.access_token}`
        }
      })
          .then(response => {

            // let jsonData = JSON.stringify(response.data)
            console.log('users-profile 里的数据 ' + response.data.profile_image_url)
            this.profile = response.data

          })
          .catch(err => {
            console.log(err)
          })
    },

    confirmModify () { // 确认修改
      this.busy = true;
      console.log('确认修改' + this.profile.profile_image_url)
      getAPI.patch('/user-profile/1/',
          {
            username: this.profile.username,
            profile_image: this.profile.profile_image,
            title: this.profile.title,
            organization_company: this.profile.organization_company,
            graduated_school: this.profile.graduated_school,
            brief_desc: this.profile.brief_desc,
            location: this.profile.location,
            mobile: this.profile.mobile,
            weixin_id: this.profile.weixin_id,
            user_category: this.profile.user_category,
          }, {
            headers: {
              Authorization: `Bearer ${this.$store.state.access_token}`
            }
          })
          .then(response => {
            this.busy = false;
            let jsonData = JSON.stringify(response.data)
            console.log('users-profile 里的数据 ' + jsonData)
            this.$alert("您的资料修改完成");
            // this.profile = response.data
            // this.value = response.data.is_public
          })
          .catch(err => {
            console.log(err)
            this.$alert("已有此用户名，请选择其他用户名，谢谢");
          })
    },
    handleFileChange: function(event) {
      console.log("handlefilechange", event.target.files);
      //returns an array of files even though multiple not used
      this.file = event.target.files[0];
      this.filesSelected = event.target.files.length;
      this.upload();
    },
    prepareFormData: function() {
      this.formData = new FormData();
      this.formData.append("upload_preset", this.preset);
      this.formData.append("tags", this.tags); // Optional - add tag for image admin in Cloudinary
      this.formData.append("file", this.fileContents);
    },
    // function to handle form submit
    upload: function() {
      this.busytu = true;
      console.log("upload", this.file.name);

      let reader = new FileReader();
      // attach listener to be called when data from file
      reader.addEventListener(
          "load",
          function() {
            this.fileContents = reader.result;
            this.prepareFormData();
            let cloudinaryUploadURL = `https://api.cloudinary.com/v1_1/${this.cloudName}/upload`;
            let requestObj = {
              url: cloudinaryUploadURL,
              method: "POST",
              data: this.formData,
            };
            //show progress bar at beginning of post
            // this.showProgress = true;
            getAPI(requestObj)
                .then(response => {
                  this.busytu = false;
                  this.results = response.data;
                  console.log(this.results);
                  console.log("public_id", this.results.public_id);
                  console.log("secure_url", this.results.secure_url);
                  this.profile.profile_image = this.results.secure_url;
                })
                .catch(error => {
                  this.errors.push(error);
                  console.log(this.error);
                  this.busytu = false;
                })
                .finally(() => {
                  this.busytu = false;
                  console.log('finally')
                });
          }.bind(this),
          false
      );
      // call for file read if there is a file
      if (this.file && this.file.name) {
        reader.readAsDataURL(this.file);
      }
    }
  }
}
</script>

<style scoped>
.home_banner_area{
  background: url(https://res.cloudinary.com/jijuncai/image/upload/v1604431470/frontendstaticimages/backgrounds/loginbackground_xayktx.jpg);
  min-height: 960px;
}

img {
  display: block;
  position: center;
  max-width: 100px;
  height: auto;
}
</style>