<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="container text-dark">
          <div class="row justify-content-md-center">
            <div class="col-md-5 p-4 justify-content-md-center radius" style="background-color: white">
              <h1 class="h3 mb-3 font-weight-normal text-center" style="word-spacing: 20px">重 置 密 码</h1>
              <form v-on:submit.prevent="passwordReset">
                <div class="input-group-icon mt-20 input-group-lg radius">
                    <div class="icon" style="margin-left: -7px"><i class="fa fa-key fa-lg" aria-hidden="true"></i></div>
                    <ValidationProvider rules="required|min:6|confirmed:confirmation" name="密码" v-slot="{ errors }">
                      <input style="height:46px" type="password"
                             v-model="password"
                             placeholder="请输入密码" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入密码'"
                             required class="single-input radius">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                  <div class="input-group-icon mt-20 input-group-lg radius">
                    <div class="icon" style="margin-left: -7px"><i class="fa fa-key fa-lg" aria-hidden="true"></i></div>
                    <ValidationProvider vid="confirmation" rules="required" name="确认密码" v-slot="{ errors }">
                      <input style="height:46px" type="password" v-model="confirmation" placeholder="请再一次输入密码" onfocus="this.placeholder = ''" onblur="this.placeholder = '请再一次输入密码'"
                             required class="single-input radius">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                <div class="input-group-icon mt-20 radius">
                  <button type="submit" class="btn primary-btn btn-block radius" style="font-size: 18px; word-spacing: 20px"><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  重 置 密 码</button>
                </div>
              </form>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {getAPI} from "@/axios-api";
import { ValidationProvider} from 'vee-validate';

export default {
  name: "passwordReset",
  data () {
    return {
      password: '',
      confirmation: '',
      token: '' || this.$route.query.token,
      uidb64: '' || this.$route.query.uidb64,
      busy: false,
    }
  },

  components: {
    ValidationProvider
  },
  created() {
    // this.getPasswordReset()
    console.log(this.$route.query.uidb64);
    console.log(this.$route.query.token);
  },
  methods: {
    passwordReset () {
      this.busy = true;
      getAPI.patch('/auth/password-reset-complete',
          {
            password: this.password,
            token: this.$route.query.token,
            uidb64: this.$route.query.uidb64,
          },
      )
          .then(response => {
            this.busy = false;
            let jsonData = JSON.stringify(response.data)
            console.log('password-reset-complete 里的数据 ' + jsonData)
            this.$alert("您的密码已经重置,请登陆").then(() => {
              this.$router.push({ name: 'login' })
            });
          })
          .catch(err => {
            this.busy = false;
            console.log(err)
          })
    }
  }
}
</script>

<style scoped>

</style>