<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-3">
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" style="width:100px; height:100px; object-fit: cover" :alt="profile.profile_image" :src="profile.profile_image">
                </div>
                <h3 class="profile-username text-center mt-3">{{ profile.username }}</h3>
                <p class="text-muted text-center">{{ profile.title }}</p>
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item" style="border: none">
                    <div class="switch-wrap d-flex justify-content-between">
                      <p>是否公开背景信息 <i v-b-popover.hover.top="'公开背景信息有助于帮助您对接您所需要的资源，不会透露您私人联系方式'" class="fa fa-info-circle"></i></p>
                      <toggle-button :value="value" @change="onChangeIsPublic(value)" :sync="true" />
                    </div>
                  </li>
                  <li class="list-group-item" style="border: none">
                    <div class="switch-wrap d-flex justify-content-between">
                      <strong><i class="fa fa-at"></i> 用户类型</strong>
                      <p class="text-muted">{{ profile.user_category }}</p>
                    </div>
                  </li>
                  <li class="list-group-item" style="border: none">
                    <strong><i class="fa fa-briefcase"></i> 所在公司或机构</strong>
                    <p class="text-muted">{{ profile.organization_company }}</p>
                  </li>
                  <li class="list-group-item" style="border: none">
                    <strong><i class="fa fa-graduation-cap"></i> 教育背景</strong>
                    <p class="text-muted">{{ profile.graduated_school }}</p>
                  </li>
                  <li class="list-group-item" style="border: none">
                    <strong><i class="fa fa-laptop" aria-hidden="true"></i> 个人简介</strong>
                    <p class="text-muted">{{ profile.brief_desc }}</p>
                  </li>
                </ul>

                <div v-if="projects.length > 0" class="popular_courses lite_bg">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-3 col-md-6" v-for="project in projects" :key="project.id" @dblclick="$data.project = project">
                        <div @click="modify(project.id)"
                             class="single_course"
                             style="
                             box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.2);
                        ">
                          <div class="course_head overlay" style="border-radius:5%" >
                            <img class="img-fluid w-100" :alt="project.name" :src="project.project_image_url" style="height:160px;object-fit: cover">
                            <div class="authr_meta">
                              <img :src="profile.profile_image" :alt="profile.username" style="width:40px;height:40px;border-radius:50%;object-fit: cover">
                              <span>{{ profile.username }}</span>
                            </div>
                          </div>
                          <div class="course_content" >
                            <h4 style="padding: 0px 20px">
                              <a >{{ project.name }}</a>
                            </h4>
                            <p style="padding: 0px 20px; position:relative; line-height: 1.5em; height: 6em; overflow: hidden; ">{{ project.projects_brief }}</p>
                            <div class="course_meta flex justify-content-between">
                              <!--                              <div>-->
                              <!--                                <span class="lnr lnr-thumbs-up"></span>-->
                              <!--                              </div>-->
                              <div style="flex: auto; border-radius:8%; text-align: center" class="price df_color1" v-if="project.is_raise_money">
                                融资：{{ project.amount_of_raise_money }}万元人民币
                              </div>

                              <div style="flex: auto; border-radius:5%; text-align: center" class="price df_color2" v-else-if="project.is_find_partners">
                                寻求合伙人： {{ project.find_partner_category_type }}
                              </div>
                              <div style="flex: auto; border-radius:5%; text-align: center" class="price" v-else-if="project.is_find_market">
                                寻求市场: {{ project.find_market_category_type }}
                              </div>
                              <div style="flex: auto; border-radius:5%; text-align: center" class="price df_color3" v-else>
                                等待发布新需求
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <router-link :to="{name: 'CreateProject'}">
                  <button type="button" class="btn btn-outline-info btn-block btn-xs mt-3" style="font-size: 18px; word-spacing: 20px"> 创建新项目</button>
                </router-link>
                <div v-if="profile.is_vip" class="mt-3">
                  <router-link :to="{name: 'CreateEvent'}">
                  <button type="button" class="btn btn-outline-info btn-block btn-xs mt-3" style="font-size: 18px; word-spacing: 20px"> 创建新活动</button>
                </router-link>
                </div>

              </div>
            </div>
            <!-- /.card-body -->
            <div class="card card-primary mt-3 mb-3">
              <div class="card-header">
                <h3 class="card-title">个人信息</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="switch-wrap d-flex justify-content-between">
                  <p><i class="fa fa-sign-in"></i> 登陆邮箱： {{ profile.email }} </p>
                  <router-link :to="{name: 'resetPassword'}">
                    <button type="button" class="btn btn-outline-info btn-xs"> 修改密码</button>
                  </router-link>
                  <!--                  <button type="submit" value="submit" class="btn primary-btn radius" style="text-align: center; width: 20%; font-size: 12px; word-spacing: 20px">修改密码</button>                    -->
                </div>
                <hr>
                <div class="switch-wrap d-flex justify-content-between">
                  <strong><i class="fa fa-map-marker"></i> 常驻地点</strong>
                  <p class="text-muted">{{ profile.location }}</p>
                </div>
                <hr>
                <div class="switch-wrap d-flex justify-content-between">
                  <strong><i class="fa fa-phone"></i> 手机号</strong>
                  <p class="text-muted">{{ profile.mobile }}</p>
                </div>
                <hr>
                <div class="switch-wrap d-flex justify-content-between">
                  <strong><i class="fa fa-comments"></i> 微信ID</strong>
                  <p class="text-muted">{{ profile.weixin_id }}</p>
                </div>
                <router-link :to="{name: 'modifyProfile'}">
                  <button type="button" class="btn btn-outline-info btn-block btn-xs" style="font-size: 18px; word-spacing: 20px">修改个人资料</button>
                </router-link>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { getAPI } from '@/axios-api'

export default {
  name: "profile",
  data(){
    return {
      value: false,
      profile: {
        'username': '',
        'email': '',
        'profile_image_url': '',
        'brief_desc': '',
        'title': '',
        'is_public': false,
        'graduated_school': '',
        'organization_company': '',
        'weixin_id': '',
        'mobile': '',
        'location': '',
        'gender': '',
        'birthday': null,
        'profile_image': '',
        'user_category': '',
        'is_vip': false,
      },
      project: {
        'name': '',
        'project_image_url': '',
        'projects_brief': '',
        'category_type': '',
        'team_intro': '',
        'is_find_market': false,
        'find_market_category_type': '',
        'is_find_partners': false,
        'find_partner_category_type': '',
        'is_raise_money': false,
        'raise_money_stage': '',
        'amount_of_raise_money': '',
      },
      projects: []
    }
  },

  created () {
    this.getProfile()
    this.getProjects()
    console.log('users-profile 里的token ' + this.$store.state.access_token)
  },

  methods: {
    getProfile(){
      getAPI.get('/user-profile/{id}/',{
        headers: {
          Authorization: `Bearer ${this.$store.state.access_token}`
        }
      })
          .then(response => {
            let jsonData = JSON.stringify(response.data)
            console.log('users-profile 里的数据 ' + jsonData)
            this.profile = response.data
            this.value = response.data.is_public
          })
          .catch(err => {
            console.log(err)
          })
    },

    getProjects(){
      getAPI.get('/projects/',{
        headers: {
          Authorization: `Bearer ${this.$store.state.access_token}`
        }
      })
          .then(response => {
            let jsonData = JSON.stringify(response.data)
            // console.log('projects 里的数据 ' + response.data[0].name)
            console.log('projects jsondata 里的数据 ' + jsonData)
            // console.log('projects jsonresults 里的数据 ' + jsonData)
            this.projects = response.data
            console.log('projects this 里的数据 ' + this.projects)

          })
          .catch(err => {
            console.log(err)
          })
    },

    modify(id) {
      console.log(id);
      this.$router.push({
        path: `ModifyProject`,
        query: { projectId: id }
      });
    },

    onChangeIsPublic(value){
      if (value === true) {
        console.log('现在关')
        this.value = false
        this.changeIsPublic()
      } else {
        console.log('现在开')
        this.value = true
        this.changeIsPublic()
      }

    },
    changeIsPublic(){
      getAPI.patch('/user-profile/1/',
          {
            is_public: this.value,
          }, {
            headers: {
              Authorization: `Bearer ${this.$store.state.access_token}`
            }
          })
          .then(response => {
            let jsonData = JSON.stringify(response.data)
            console.log('users-profile 里的数据 ' + jsonData)
            // this.profile = response.data
            // this.value = response.data.is_public
            this.project = jsonData
          })
          .catch(err => {
            console.log(err)
          })
    },
  }
}

</script>

<style scoped>
.home_banner_area{
  background: url(https://res.cloudinary.com/jijuncai/image/upload/v1604431470/frontendstaticimages/backgrounds/loginbackground_xayktx.jpg);
  min-height: 960px;
}

.profile-user-img{
  border: 3px solid #2ebccd;
  margin: 0 auto;
  padding: 3px;
  width: 100px;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

.img-circle{
  border-radius: 50%;
}

/*.price{*/
/*  box-shadow: 0px 20px 50px rgba(233, 62, 135, 0.2);*/
/*}*/

</style>