<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="container text-dark">
          <div class="row justify-content-md-center">
            <div class="col-md-5 p-4 justify-content-md-center radius" style="background-color: white">
              <h1 class="h3 mb-3 font-weight-normal text-center" style="word-spacing: 20px">注 册</h1>
              <!--          <p v-if="incorrectAuth">Incorrect email, username or password entered - please try again</p>-->
              <ValidationObserver v-slot="{ handleSubmit }">
                <form v-on:submit.prevent="handleSubmit(register)">
                  <div class="input-group-icon mt-20 input-group-lg radius">
                    <div class="icon" style="margin-left: -7px"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></div>
                    <ValidationProvider name="邮箱" rules="required|email" v-slot="{ errors }">
                      <input style="height:46px" type="text" name="email" id="user" v-model="email" placeholder="邮箱(登陆帐号名)" onfocus="this.placeholder = ''" onblur="this.placeholder = '邮箱(登陆帐号名)'"
                             required class="single-input radius">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                  <div class="input-group-icon mt-20 input-group-lg radius">
                    <div class="icon" style="margin-left: -5px"><i class="fa fa-user fa-lg" aria-hidden="true"></i></div>
                    <ValidationProvider name="用户名" rules="required" v-slot="{ errors }">
                      <input style="height:46px" type="text" name="username" id="username" v-model="username" placeholder="用户名" onfocus="this.placeholder = ''" onblur="this.placeholder = '用户名'"
                             required class="single-input radius">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                  <div class="input-group-icon mt-20 input-group-lg radius">
                    <div class="icon" style="margin-left: -7px"><i class="fa fa-key fa-lg" aria-hidden="true"></i></div>
                    <ValidationProvider rules="required|min:6|confirmed:confirmation" name="密码" v-slot="{ errors }">
                      <input style="height:46px" type="password"
                             v-model="password"
                             placeholder="请输入密码" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入密码'"
                             required class="single-input radius">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>
                  <div class="input-group-icon mt-20 input-group-lg radius">
                    <div class="icon" style="margin-left: -7px"><i class="fa fa-key fa-lg" aria-hidden="true"></i></div>
                    <ValidationProvider vid="confirmation" rules="required" name="确认密码" v-slot="{ errors }">
                      <input style="height:46px" type="password" v-model="confirmation" placeholder="请再一次输入密码" onfocus="this.placeholder = ''" onblur="this.placeholder = '请再一次输入密码'"
                             required class="single-input radius">
                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                    </ValidationProvider>
                  </div>



                  <div class="input-group-icon mt-20 radius">
                    <!--                    <ValidationProvider vid="check" rules="required" name="同意我们的条款" v-slot="{ errors }">-->
                    <b-form-checkbox
                        id="checkbox"
                        v-model="status"
                        name="checkbox"
                        value="accepted"
                        unchecked-value="not_accepted"
                        required
                    >
                      <router-link :to="{ name:'termsAndPrivacy' }" class="form-p" style="color: lightseagreen">同意我们的法律和隐私声明</router-link>
                    </b-form-checkbox>
                    <!--                    <div>State: <strong>{{ status }}</strong></div>-->
                    <!--                      <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>-->
                    <!--                    </ValidationProvider>-->
                  </div>

                  <div class="input-group-icon mt-20 radius">
                    <button type="submit" class="btn primary-btn btn-block radius" style="font-size: 18px; word-spacing: 20px"><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  注 册</button>
                  </div>
                </form>
              </ValidationObserver>
              <br>
              <p class="form-p" style="color: darkgray">
                已有帐号？
                <router-link class="genric-btn success-border radius" :to="{ name:'login' }" style="color: lightseagreen">立即登陆</router-link>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';
import {getAPI} from "@/axios-api";

export default {
  name: "register",
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      email: '',
      username: '',
      password: '',
      confirmation: '',
      status: 'not_accepted',
      user_category: '',
      options: [
        { text: '创业者或企业家', value: '创业者' },
        { text: '投资人或投资机构', value: '投资人' },
        { text: '政府或专业机构', value: '政府' },
        { text: '专业人才或顾问', value: '专业人才' },
        { text: '其他', value: '其他' },
      ],
      busy: false,
    }
  },

  created() {
    console.log('注册页面启动')
  },
  methods: {
    register () {

      if (this.status === 'accepted') {
        this.busy = true;
        // this.$alert("可以注册了")
        getAPI.post('/auth/register/', {
          email: this.email,
          username: this.username,
          password: this.password
        })
            .then(response => {
              this.busy = false;
              let jsonData = JSON.stringify(response.data)
              console.log("注册成功 数据 " + jsonData)
              this.$alert("注册成功，请查看邮箱激活帐号，谢谢").then(() => {
                this.$router.push({ name: 'login' })
              });
            })
            .catch(err => {
              console.log(err)
              this.busy = false;
              this.$alert("请检查注册信息，谢谢");
              // this.$alert("您已注册成功，请查看邮箱激活帐号，谢谢").then(() => {
              //   this.$router.push({ name: 'login' })
              // });
            })
      } else {
        console.log('条款' + this.status)
        console.log('用户类型' + this.user_category)
        this.$alert("请输入必要的信息再注册，谢谢")
      }

    }

    // register () {
    //
    //   if (this.status === 'accepted') {
    //     this.busy = true;
    //     // this.$alert("可以注册了")
    //     this.$store.dispatch('register', {
    //       email: this.email,
    //       username: this.username,
    //       password: this.password,
    //       // user_category: this.user_category,
    //       // is_accepted: this.status
    //     })
    //         .then(() => {
    //           this.busy = false;
    //           this.$alert("注册成功，请查看邮箱激活帐号，谢谢").then(() => {
    //             this.$router.push({ name: 'login' })
    //           });
    //         })
    //         .catch(err => {
    //           console.log(err)
    //         })
    //   } else {
    //     console.log('条款' + this.status)
    //     console.log('用户类型' + this.user_category)
    //     this.$alert("请输入必要的信息再注册，谢谢")
    //   }
    //
    // }
  }
}
</script>

<style scoped>
.home_banner_area{
  background: url(https://res.cloudinary.com/jijuncai/image/upload/v1604431470/frontendstaticimages/backgrounds/loginbackground_xayktx.jpg);
  min-height: 860px;
}

</style>