<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="container text-dark">
          <div class="row justify-content-md-center">
            <div class="col-md-5 p-4 justify-content-md-center radius" style="background-color: white">
              <h1 class="h3 mb-3 font-weight-normal text-center" style="word-spacing: 20px">重 置 密 码</h1>
              <form v-on:submit.prevent="requestResetEmail">

                <div class="input-group-icon mt-20 input-group-lg radius">
                  <div class="icon" style="margin-left: -7px"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></div>
                  <ValidationProvider name="邮箱" rules="required|email" v-slot="{ errors }">
                    <input style="height:46px" type="text" name="email" id="user" v-model="email" placeholder="邮箱(登陆帐号名)" onfocus="this.placeholder = ''" onblur="this.placeholder = '邮箱(登陆帐号名)'"
                           required class="single-input radius">
                    <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                  </ValidationProvider>
                </div>
                <div class="input-group-icon mt-20 radius">
                  <button type="submit" class="btn primary-btn btn-block radius" style="font-size: 18px; word-spacing: 20px"><b-spinner v-if="busy" small type="grow" style="margin-bottom: 3px;"></b-spinner>  发 送 重 置 链 接</button>
                </div>
              </form>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {getAPI} from "@/axios-api";
import { ValidationProvider } from 'vee-validate';


export default {
  name: "requestResetEmail",
  data () {
    return {
      email: '',
      busy: false,
    }
  },
  components: {
    ValidationProvider
  },
  methods: {
    requestResetEmail () {
      this.busy = true;
      getAPI.post('/auth/request-reset-email/',
          {
            email: this.email,
          },
      )
          .then(response => {
            this.busy = false;
            let jsonData = JSON.stringify(response.data)
            console.log('requestResetEmail 里的数据 ' + jsonData)
            this.$alert("您的密码重置邮件已经发送，请查看邮件，如短时间没收到，请等待5分钟左右再次查看，谢谢");
            // this.profile = response.data
            // this.value = response.data.is_public
          })
          .catch(err => {
            this.busy = false;
            console.log(err)
          })
    }
  }
}
</script>

<style scoped>

</style>