<template>
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="container text-dark">
          <div class="row justify-content-md-center">
            <div class="col-md-5 p-4 justify-content-md-center radius" style="background-color: white">
              <h1 class="h3 mb-3 font-weight-normal text-center" style="word-spacing: 20px">修 改 密 码</h1>
              <form v-on:submit.prevent="passwordReset">
                <div class="input-group-icon mt-20 input-group-lg radius">
                  <div class="icon" style="margin-left: -7px"><i class="fa fa-key fa-lg" aria-hidden="true"></i></div>
                  <ValidationProvider rules="required|min:6" name="旧密码" v-slot="{ errors }">
                    <input style="height:46px" type="password"
                           v-model="old_password"
                           placeholder="请输入旧密码" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入旧密码'"
                           required class="single-input radius">
                    <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                  </ValidationProvider>
                </div>
                <div class="input-group-icon mt-20 input-group-lg radius">
                  <div class="icon" style="margin-left: -7px"><i class="fa fa-key fa-lg" aria-hidden="true"></i></div>
                  <ValidationProvider rules="required|min:6" name="新密码" v-slot="{ errors }">
                    <input style="height:46px" type="password"
                           v-model="new_password"
                           placeholder="请输入新密码" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入新密码'"
                           required class="single-input radius">
                    <p style="font-family: 'Crimson Text', serif; font-size: 16px; color: red">{{ errors[0] }}</p>
                  </ValidationProvider>
                </div>
                <div class="input-group-icon mt-20 radius">
                  <button type="submit" class="btn primary-btn btn-block radius" style="font-size: 18px; word-spacing: 20px">修 改 密 码</button>
                </div>
              </form>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {getAPI} from "@/axios-api";
import { ValidationProvider} from 'vee-validate';

export default {
  name: "resetPassword",
  data () {
    return {
      old_password: '',
      new_password: '',
    }
  },

  components: {
    ValidationProvider
  },

  methods: {
    passwordReset () {
      getAPI.put('/auth/reset-password',
          {
            old_password: this.old_password,
            new_password: this.new_password,
          },{
            headers: {
              Authorization: `Bearer ${this.$store.state.access_token}`
            }
          }
      )
          .then(response => {
            let jsonData = JSON.stringify(response.data)
            console.log('reset-password 里的数据 ' + jsonData)
            this.$alert("您的密码已经修改，请下次用新密码登陆").then(() => {
              this.$router.push({ name: 'profile' })
            });
          })
          .catch(err => {
            console.log(err)
            this.$alert("旧密码有错，请输入正确的旧密码")
          })
    }
  }
}
</script>

<style scoped>

</style>